<section class="axn-section" *ngIf="account">
  <div class="axn-title-block">
    <span class="axn-title">Convert HEX3T to AXN</span>
    <div
      #tooltip="matTooltip"
      (click)="tooltip.toggle()"
      class="question"
      mat-raised-button
      matTooltip="
      Exchange HEX3T tokens to Axion at a 1:1 rate. To receive Axion tokens, send tokens to the Burn contract and burn them. The exchange will be available for 350 days, however, there is a Late Claim Penalty for late exchange.

      The amount of the penalty is calculated by the formula:
      Penalty = HEX3T amount * (day since free claim starts / 350)

      All penalized tokens will be sent to the next day auction."
      matTooltipClass="question__tooltip"
    ></div>
  </div>

  <div class="axn-form axn-form-3">
    <div class="axn-form-block">
      <div class="axn-form-block-one axn-form-arrow p-b-none">
        <span class="axn-form-block-one-title">From</span>
        <input
          type="text"
          required="required"
          class="axn-input"
          placeholder="0.0"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = '0.0'"
          [appBigNumber]="{
            decimals: tokensDecimals['H2T'],
            min: 1,
            max: account?.balances.H2T.wei
          }"
          [maxValueChange]="onChangeAccount"
          (ngModelChange)="onChangeAmount()"
          [(ngModel)]="formsData.swapAmount"
          name="swap-amount"
          autocomplete="off"
        />
        <span class="axn-cheap icon icon_hex cl-gradient-bg">HEX3T</span>

        <div class="axn-form-base-2 axn-form-bottom">
          <div class="axn-form-block-sendmax">
            <span
              class="axn-btn axn-btn-max"
              (click)="
                formsData.swapAmount = account?.balances.H2T.shortBigNumber.toString()
              "
            >
              Send max
            </span>
            <span class="axn-form-block-sendmax-text">
              Balance
              <span class="axn-form-block-sendmax-value">
                {{
                  (account ? account?.balances.H2T.wei || 0 : 0)
                    | bigNumberFormat: tokensDecimals.H2T:true:false:18
                }}
              </span>
            </span>
          </div>
          <div class="axn-form-block-button">
            <button
              class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-small"
              [ngClass]="{ progress: swapTokensProgress }"
              [disabled]="!dataSendForm || swapTokensProgress"
              (click)="swapH2T()"
            >
              <span class="lds-ellipsis" *ngIf="swapTokensProgress">
                <span class="lds-ellipsis-container">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </span>
              <span class="axn-btn-text axn-btn-arrow-right">Send</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="axn-form-block">
      <div class="axn-form-block-one axn-form-arrow">
        <span class="axn-form-block-one-title">Swap contract</span>
        <span
          class="axn-form-block-one-value-bs"
          matTooltipClass="table__tooltip"
          mat-raised-button
          matTooltip="{{
            swapContractBalance.fullValue || 0
              | bigNumberFormat: tokensDecimals.HEX2X:true:false:18
          }}"
        >
          {{
            swapContractBalance.fullValue || 0
              | bigNumberFormat: tokensDecimals.HEX2X:true:false:2
          }}
        </span>
        <span class="axn-cheap icon icon_hex cl-gradient-bg">HEX3T</span>
        <div class="axn-form-block-button axn-form-bottom">
          <button
            class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-mid"
            (click)="withdrawH2T()"
            [ngClass]="{ progress: withdrawH2TProgress }"
            [disabled]="+swapContractBalance.value === 0 || withdrawH2TProgress"
          >
            <span class="lds-ellipsis" *ngIf="withdrawH2TProgress">
              <span class="lds-ellipsis-container">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </span>
            </span>
            <span class="axn-btn-text axn-btn-arrow-left">Draw Back</span>
          </button>
        </div>
      </div>
    </div>

    <div class="axn-form-block">
      <div class="axn-form-base-2">
        <div class="axn-form-block-one axn-form-border-dashed-right">
          <span class="axn-form-block-one-title">To</span>
          <span
            class="axn-form-block-one-value-bs"
            matTooltipClass="table__tooltip"
            mat-raised-button
            matTooltip="{{
              toSwap || 0 | bigNumberFormat: tokensDecimals.HEX2X:true:false:18
            }}"
          >
            {{
              toSwap || 0 | bigNumberFormat: tokensDecimals.HEX2X:true:false:2
            }}
          </span>
          <span class="axn-cheap icon icon_axn cl-blue-bg">AXN</span>
        </div>
        <div class="axn-form-block-one">
          <span class="axn-form-block-one-title">Penalty</span>
          <span
            class="axn-form-block-one-value-bs"
            matTooltipClass="table__tooltip"
            mat-raised-button
            matTooltip="{{
              clacPenalty || 0
                | bigNumberFormat: tokensDecimals.HEX2X:true:false:18
            }}"
          >
            {{
              clacPenalty || 0
                | bigNumberFormat: tokensDecimals.HEX2X:true:false:2
            }}
          </span>
          <span class="axn-cheap icon icon_axn cl-blue-bg">AXN</span>
        </div>
      </div>
      <div class="axn-form-block-button axn-form-bottom">
        <button
          class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-big"
          (click)="burnH2T()"
          [ngClass]="{ progress: burnTokensProgress }"
          [disabled]="
            swapContractBalance.fullValueNumber === 0 || burnTokensProgress
          "
        >
          <span class="lds-ellipsis" *ngIf="burnTokensProgress">
            <span class="lds-ellipsis-container">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </span>
          </span>
          <span class="axn-btn-text">SWAP</span>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="axn-section" *ngIf="account">
  <div class="axn-title-block">
    <span class="axn-title">Freeclaim AXN with HEX</span>
    <div
      #tooltip2="matTooltip"
      (click)="tooltip2.toggle()"
      class="question"
      mat-raised-button
      matTooltip="Get Axion for HEX tokens for free at a rate of 1: 1. All free claimed Axion tokens will be automatically staked for 350 days.

    The amount of the free claim is limited to 10M Axion, tokens over the limit will be sent to the Weekly Auction.

    The exchange will be available for 350 days, however, there is a Late Claim Penalty for late exchange. The amount of the penalty is calculated by the formula:
    Penalty = (HEX + Shares amount) * (day since free claim starts / 350)

    Tokens from the penalty will be distributed in the following way: 349/350 will be sent to the next day auction; 1/350 for distribution at the end of the year at BigPayDay."
      matTooltipClass="question__tooltip"
    ></div>
  </div>

  <div class="axn-form axn-form-base-3">
    <div class="axn-form-block axn-form-accent">
      <div class="axn-form-block-one axn-form-arrow">
        <span class="axn-form-block-one-title">From</span>
        <span
          class="axn-form-block-one-value"
          matTooltipClass="table__tooltip"
          mat-raised-button
          matTooltip="{{
            (account ? account.snapshot.show_hex || 0 : 0)
              | bigNumberFormat: tokensDecimals.HEX:true:false:18
          }}"
        >
          <b>
            {{
              (account ? account.snapshot.show_hex || 0 : 0)
                | bigNumberFormat: tokensDecimals.HEX:true:false:2
            }}
          </b>
        </span>
        <span class="axn-cheap cl-gradient-bg">HEX</span>
      </div>
    </div>

    <div class="axn-form-block axn-form-accent">
      <div class="axn-form-block-one">
        <span class="axn-form-block-one-title">To</span>
        <span
          class="axn-form-block-one-value"
          matTooltipClass="table__tooltip"
          mat-raised-button
          matTooltip="{{
            (account ? account.claimableInfo.claim || 0 : 0)
              | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
          }}"
        >
          {{
            (account ? account.claimableInfo.claim || 0 : 0)
              | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
          }}
        </span>
        <span class="axn-cheap icon icon_axn cl-blue-bg">AXN</span>
      </div>
    </div>

    <div class="axn-form-block axn-form-accent">
      <div class="axn-form-block-one">
        <span class="axn-form-block-one-title">Penalty</span>
        <span
          class="axn-form-block-one-value"
          matTooltipClass="table__tooltip"
          mat-raised-button
          matTooltip="{{
            (account ? account.claimableInfo.penalty || 0 : 0)
              | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
          }}"
        >
          {{
            (account ? account.claimableInfo.penalty || 0 : 0)
              | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
          }}
        </span>
        <span class="axn-cheap icon icon_axn cl-blue-bg">AXN</span>
      </div>
    </div>
  </div>

  <div class="axn-form-block axn-form-transparent">
    <div class="axn-form-block-button">
      <button
        class="axn-btn axn-btn-gray axn-btn-form"
        (click)="claim()"
        [ngClass]="{ progress: claimTokensProgress }"
        [disabled]="
          account.snapshot.user_dont_have_hex ||
          account.claimableInfo.claim.isZero() ||
          claimTokensProgress
        "
      >
        <span class="lds-ellipsis" *ngIf="claimTokensProgress">
          <span class="lds-ellipsis-container">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
        </span>
        <span class="axn-btn-text">CLAIM</span>
      </button>
    </div>
  </div>
</section>
