<section class="axn-section" *ngIf="account">
  <div class="axn-title-block">
    <span class="axn-title">Create Stake</span>
    <div
      class="question"
      mat-raised-button
      #tooltip="matTooltip"
      (click)="tooltip.toggle()"
      matTooltip="
        Stake your Axion and get revenue from staking contract. By creating a stake, the user loses access to his Axion tokens, but receives Shares, indicating the user's share in the distribution of dividends from the daily dividend pool.

        The formula for calculating daily dividends is as follows:
        dailyInterest = dailyPool * userShares / totalSupplyShares

        Then the formula for receiving dividends from the stake will be the following:
        stakingInterest =sum(dailyInterest(i) * userShares / totalSupplyShares(i))
        for each staking day.
        "
      matTooltipClass="question__tooltip"
    ></div>
  </div>
  <form #stakeForm="ngForm" class="axn-form axn-form-3-1">
    <div class="axn-form-block axn-form-staking">
      <div class="axn-form-block-one">
        <span class="axn-form-block-one-title">Stake</span>
        <input
          *ngIf="account"
          type="text"
          class="axn-input axn-input-mid"
          autocomplete="off"
          required="required"
          [appBigNumber]="{
            decimals: tokensDecimals['HEX2X'],
            min: 1,
            max: account?.balances.HEX2X.wei
          }"
          name="stake-amount"
          placeholder="0.0"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = '0.0'"
          (ngModelChange)="onChangeAmount()"
          [maxValueChange]="onChangeAccount"
          [(ngModel)]="formsData.stakeAmount"
          autocomplete="off"
        />
        <span class="axn-cheap icon icon_axn cl-blue-bg">AXN</span>

        <div class="axn-form-block-sendmax axn-form-bottom-mid">
          <span
            class="axn-btn axn-btn-max"
            (click)="
              formsData.stakeAmount = account?.balances.HEX2X.wei;
              onChangeAmount()
            "
            >Send max</span
          >
          <span class="axn-form-block-sendmax-text">
            Balance
            <span class="axn-form-block-sendmax-value-mid">
              {{ account?.balances?.HEX2X.display }}
            </span></span
          >
        </div>
      </div>
    </div>

    <div class="axn-form-block axn-form-arrow axn-form-staking">
      <div class="axn-form-block-one">
        <span class="axn-form-block-one-title">Set stake period</span>
        <input
          class="axn-input axn-input-mid"
          type="number"
          step="1"
          autocomplete="off"
          [appMinMaxNumber]="{
            min: 1,
            max: stakeMaxDays
          }"
          min="1"
          (ngModelChange)="onChangeAmount()"
          [max]="stakeMaxDays"
          placeholder="0"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = '0'"
          required="required"
          name="stake-days"
          [(ngModel)]="formsData.stakeDays"
          autocomplete="off"
        />
        <span class="axn-cheap cl-blue-bg">Day</span>
        <div class="axn-form-block-sendmax axn-form-bottom-mid">
          <span
            class="axn-btn axn-btn-max"
            (click)="formsData.stakeDays = stakeMaxDays; onChangeAmount()"
            >Send max</span
          >
        </div>
      </div>
    </div>

    <div class="axn-form-block p-20">
      <div class="axn-form-block-one">
        <div class="axn-form-base-2 p-b-15 axn-form-border-dashed-bottom">
          <div class="axn-form-base-1 p-l-10">
            <div class="axn-form-block-shares">
              <span
                class="axn-form-block-shares-value cl-blue"
                matTooltipClass="table__tooltip"
                mat-raised-button
                matTooltip="{{ shareRate | bigNumberFormat: 0:true:false:18 }}"
              >
                {{ shareRate | bigNumberFormat: 0:true:false:2 }}
              </span>
              <br />
              <span class="axn-form-block-shares-text">Total Shares</span>
            </div>
            <div class="axn-form-block-shares">
              <span
                class="axn-form-block-shares-value cl-blue"
                matTooltipClass="table__tooltip"
                mat-raised-button
                matTooltip="{{
                  stakingContractInfo.ShareRate || 0
                    | bigNumberFormat: tokensDecimals.HEX2X:true:false:18
                }}"
              >
                {{
                  stakingContractInfo.ShareRate || 0
                    | bigNumberFormat: tokensDecimals.HEX2X:true:false:2
                }}
              </span>
              <span class="axn-form-block-shares-text">Share rate</span>
            </div>
          </div>
          <div class="axn-form-base-4">
            <div class="axn-form-block-shares-right">
              <span
                class="axn-form-block-shares-value-min"
                matTooltipClass="table__tooltip"
                mat-raised-button
                matTooltip="{{
                  share.full | bigNumberFormat: 0:true:false:18 || 0
                }}"
              >
                {{ share.short || 0 }}
              </span>
              <br />
              <span class="axn-form-block-shares-text-min">Shares</span>
            </div>
            <div class="axn-form-block-shares-right">
              <span
                class="axn-form-block-shares-value-min"
                matTooltipClass="table__tooltip"
                mat-raised-button
                matTooltip="{{
                  bonusLongerPays
                    | bigNumberFormat: tokensDecimals.HEX2X:true:false:18
                }}"
              >
                {{
                  bonusLongerPays
                    | bigNumberFormat: tokensDecimals.HEX2X:true:false:2
                }}
              </span>
              <br />
              <span class="axn-form-block-shares-text-min"
                >Longer pays better</span
              >
            </div>
          </div>
        </div>
        <div class="axn-form-base p-b-15 axn-form-border-dashed-bottom">
          <div class="axn-form-block-shares p-l-10">
            <span class="axn-form-block-shares-value cl-blue">{{
              startDay | date: "shortDate"
            }}</span>
            <br />
            <span class="axn-form-block-shares-text-min">Start Day</span>
          </div>
          <div class="axn-form-block-shares">
            <span class="axn-form-block-shares-value cl-blue">{{
              stakeEndDate | date: "shortDate"
            }}</span
            ><br />
            <span class="axn-form-block-shares-text-min">Ends</span>
          </div>
        </div>
        <div class="axn-form-bpd p-b-15 axn-form-border-dashed-bottom">
          <ng-container *ngFor="let item of bpd; let $index = index">
            <div class="axn-form-block-shares p-l-10">
              <span
                class="icon icon-flex axn-form-block-shares-text-min"
                [ngClass]="{
                  'icon_ok-1': shouldCheckBoxForBPD($index),
                  icon_no: !shouldCheckBoxForBPD($index)
                }"
                >BPD {{ $index + 1 }}</span
              >
              <span class="axn-form-block-shares-text-min cl-blue">{{
                item.dateEnd | date: "shortDate"
              }}</span>
            </div>
          </ng-container>
        </div>
        <button
          class="axn-btn axn-btn-gray axn-btn-form axn-btn-max-width m-t-15"
          (click)="openStake()"
          [disabled]="!stakeForm.valid"
          [ngClass]="{ progress: stakeTokensProgress }"
        >
          <span class="lds-ellipsis" *ngIf="stakeTokensProgress">
            <span class="lds-ellipsis-container">
              <span></span><span></span><span></span><span></span>
            </span>
          </span>
          <span>Stake</span>
        </button>
      </div>
    </div>
  </form>
</section>

<section class="axn-section" *ngIf="tableInfo">
  <div class="axn-form-block table-container p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">BigPayDay</span>
      <div
        class="question"
        mat-raised-button
        #tooltip2="matTooltip"
        (click)="tooltip2.toggle()"
        matTooltip="
        BigPayDay - designed for the annual distribution of Axion tokens unclaimed for HEX. Every year, for 351 days - the amount accumulated in the BigPayDay pool will be distributed among the stakes for 350 days or more.

        There are 5 BigPayDay pools:
        First year - 10% of the total amount of tokens sent to BigPayDay,
        Second year - 15%,
        Third year - 20%,
        Fourth year - 25%,
        Fifths year - 30%.

        In addition to the tokens that get into BigPayDay from the exchange of HEX for Axion, BigPayDay is replenished with tokens according to the following formula:
        BigPayDayPool = (dailyPool + BigPayDayTokens) * (1 + CriticalMassBonus + ViralityBonus), where
        CriticalMassBonus - ratio of exchanged HEX and Shares tokens to their total supply on the Snapshot day,
        ViralityBonus - the ratio of the addresses that changed HEX and Shares to the total number of addresses on the day of Snapshot.&#13;&#13;"
        matTooltipClass="question__tooltip"
      ></div>
    </div>
    <table class="standard-table" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <ng-container *ngFor="let item of bpd">
            <th *ngIf="item.show">{{ item.daysLeft }} Days left</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr>
          <ng-container *ngFor="let item of bpd">
            <td *ngIf="item.show">
              {{ item.value | number }}
              <span
                class="axn-cheap icon icon_axn cl-blue-bg"
                style="margin: 10px auto 0px auto"
                >AXN</span
              >
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="axn-section" *ngIf="activeStakeTotals && tokensDecimals">
  <div class="axn-form-block table-container p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">Active Stake Totals</span>
    </div>
    <table class="standard-table" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Principal</th>
          <th>Shares</th>
          <th>BigPayDay</th>
          <th>Interest</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                activeStakeTotals.principal
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                activeStakeTotals.principal
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                activeStakeTotals.shares
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                activeStakeTotals.shares
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                activeStakeTotals.bigPayDay
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                activeStakeTotals.bigPayDay
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                activeStakeTotals.interest
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                activeStakeTotals.interest
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                activeStakeTotals.total
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                activeStakeTotals.total
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="axn-section" *ngIf="stakes?.matured?.length && tokensDecimals">
  <div class="axn-form-block table-container p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">Matured Stakes</span>
    </div>
    <table class="standard-table" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Progress</th>
          <th>Principal</th>
          <th>Shares</th>
          <th>BigPayDay</th>
          <th>Interest</th>
          <th width="10">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stake of stakes.matured">
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.start | date: 'long' }}"
            >
              {{ stake.start | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.end | date: 'long' }}"
            >
              {{ stake.end | date: "shortDate" }}</span
            >
          </td>
          <td>{{ getProgress(stake) }}%</td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.principal
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                stake.principal
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.shares
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                stake.shares
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.bigPayDay
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                stake.bigPayDay
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.interest
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                stake.interest
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td class="action-button">
            <button
              class="axn-btn axn-btn-gray"
              (click)="stakeWithdraw(stake)"
              [ngClass]="{ progress: stake.withdrawProgress }"
              [disabled]="stake.withdrawProgress"
              *ngIf="!stake.isWithdrawn"
            >
              <span class="lds-ellipsis" *ngIf="stake.withdrawProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>
              <span class="t-fw-light">&nbsp;&nbsp;Withdraw&nbsp;&nbsp;</span>
            </button>
            <button
              class="axn-btn axn-btn-gray"
              (click)="bpdWithdraw(stake)"
              [ngClass]="{ progress: stake.withdrawProgress }"
              [disabled]="stake.withdrawProgress"
              *ngIf="
                stake.isWithdrawn &&
                stake.isBpdWithdraw &&
                !stake.isBpdWithdrawn
              "
            >
              <span class="lds-ellipsis" *ngIf="stake.withdrawProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>
              <span class="t-fw-light"
                >&nbsp;&nbsp;Withdraw BPD&nbsp;&nbsp;</span
              >
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="axn-section" *ngIf="stakes?.active?.length && tokensDecimals">
  <div class="axn-form-block table-container p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">Active Stakes</span>
    </div>
    <table class="standard-table" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Progress</th>
          <th>Principal</th>
          <th>Shares</th>
          <th>BigPayDay</th>
          <th>Interest</th>
          <th width="10">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stake of stakes.active">
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.start | date: 'long' }}"
            >
              {{ stake.start | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.end | date: 'long' }}"
            >
              {{ stake.end | date: "shortDate" }}</span
            >
          </td>
          <td>{{ getProgress(stake) }}%</td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.principal
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                stake.principal
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.shares
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                stake.shares
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.bigPayDay
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                stake.bigPayDay
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.interest
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                stake.interest
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td class="action-button">
            <button
              class="axn-btn axn-btn-gray"
              (click)="stakeWithdraw(stake)"
              [ngClass]="{ progress: stake.withdrawProgress }"
              [disabled]="stake.withdrawProgress"
              *ngIf="!stake.isWithdrawn"
            >
              <span class="lds-ellipsis" *ngIf="stake.withdrawProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>
              <span class="t-fw-light">&nbsp;&nbsp;Withdraw&nbsp;&nbsp;</span>
            </button>
            <button
              class="axn-btn axn-btn-gray"
              (click)="bpdWithdraw(stake)"
              [ngClass]="{ progress: stake.withdrawProgress }"
              [disabled]="stake.withdrawProgress"
              *ngIf="
                stake.isWithdrawn &&
                stake.isBpdWithdraw &&
                !stake.isBpdWithdrawn
              "
            >
              <span class="lds-ellipsis" *ngIf="stake.withdrawProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>
              <span class="t-fw-light"
                >&nbsp;&nbsp;Withdraw BPD&nbsp;&nbsp;</span
              >
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="axn-section" *ngIf="stakes?.closed?.length && tokensDecimals">
  <div class="axn-form-block table-container p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">Stake History</span>
    </div>
    <table class="standard-table" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Start</th>
          <th>Target End</th>
          <th>Actual End</th>
          <th>Principal</th>
          <th>BigPayDay</th>
          <th>Interest/Penalty</th>
          <th>Payout</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stake of stakes.closed">
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.start | date: 'long' }}"
            >
              {{ stake.start | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.targetEnd | date: 'long' }}"
            >
              {{ stake.targetEnd | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.end | date: 'long' }}"
            >
              {{ stake.end | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.principal
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                stake.principal
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.bigPayDay
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                stake.bigPayDay
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.interest
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                stake.interest
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.payout
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                stake.payout
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="axn-section" *ngIf="stakes?.closedV1?.length && tokensDecimals">
  <div class="axn-form-block table-container p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">v1 Stake History</span>
    </div>
    <table class="standard-table" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Start</th>
          <th>Target End</th>
          <th>Principal</th>
          <th>BigPayDay</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stake of stakes.closedV1">
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.start | date: 'long' }}"
            >
              {{ stake.start | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.end | date: 'long' }}"
            >
              {{ stake.end | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.principal
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                stake.principal
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.bigPayDay
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                stake.bigPayDay
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<ng-template #warningModal class="dialog-block" mat-dialog-content>
  <div class="dialog-block__content">
    <div class="dialog-title">Attention!</div>

    <div class="dialog-description">
      {{ confirmWithdrawData.late ? confirmWithdrawData.late : "" }} unstake!
      You will get
      ~{{
        confirmWithdrawData.payout
          | bigNumberFormat: tokensDecimals.HEX2X:true:false:2
      }}
      Axion,
      ~{{
        confirmWithdrawData.penalty
          | bigNumberFormat: tokensDecimals.HEX2X:true:false:2
      }}
      Axion will be penalized!
    </div>

    <div class="dialog-bottom">
      <button class="axn-btn axn-btn-gray" type="button" mat-dialog-close>
        <span>Close</span>
      </button>
      <button
        class="axn-btn axn-btn-gray"
        type="button"
        (click)="successWithPenalty()"
      >
        <span>Ok</span>
      </button>
    </div>
  </div>
</ng-template>
