.deposit-form {
  background-color: #6C44D6;
  padding: 20px;
}
.staking-info-table {
  display: flex;
  color: #fff;
  &_cell {
    padding: 5px 20px;
    width: 25%;
  }
  &_cell + &_cell {
    &:not(.no-border) {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
  &_label {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #8670FA;
  }
  &_value {
    font-weight: 300;
    font-size: 38px;
    line-height: 45px;
  }
}
