<section class="axn-section" *ngIf="account">
  <div class="axn-title-block">
    <span class="axn-title" (hover)="tooltip2.toggle()">Auction</span>
    <div
      #tooltip2="matTooltip"
      (click)="tooltip2.toggle()"
      class="question"
      mat-raised-button
      matTooltip="
      This auction raffles accumulated Axion tokens between users, in proportion to the participants' bid in Ethereum. The auction price can't be lower than the Uniswap price minus 10%. Any leftover Axion from the auction rolls over into the next weekly auction.

      When the user places a bid in ETH: 80% of the received ETH is instantly used to buy back Axion on Uniswap and the received AXN is used to replenish the Staking contract; 19% of the received ETH is the company's profit; 1% goes to The Eden Reforestation Project, with each $0.10 planting a tree.

      All Axion received from the Auction including referral bonuses will be autostaked for 14 days upon withdrawal.

      There is a chance the auction gets oversold, and everyone who bids will receive a lower amount of AXN compared to buying on Uniswap.

      If entering within the last hour or so, please be sure to use a high gas fee. If your transaction does not complete by auction cut off, your ETH will be entered into the next days auction.  We cannot be responsible for this and cannot provide any refunds."
      matTooltipClass="question__tooltip question__extrawidth"
    ></div>
  </div>

  <div class="axn-form axn-form-base-2">
    <div class="axn-form-block axn-form-auction">
      <div class="axn-form-block-one axn-form-arrow p-b-none">
        <span class="axn-form-block-one-title">Input</span>
        <input
          type="text"
          *ngIf="account"
          required="required"
          class="axn-input"
          placeholder="0.0"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = '0.0'"
          [appBigNumber]="{
            decimals: tokensDecimals['ETH'],
            min: 1,
            max: account?.balances.ETH.wei
          }"
          [maxValueChange]="onChangeAccount"
          (ngModelChange)="onChangeAmount()"
          [(ngModel)]="formsData.auctionAmount"
          autocomplete="off"
        />
        <span class="axn-cheap icon icon_eth cl-purple-bg">ETH</span>

        <div class="axn-form-base-2 axn-form-bottom">
          <div class="axn-form-block-sendmax">
            <span
              class="axn-btn axn-btn-max"
              (click)="
                formsData.auctionAmount = account?.balances.ETH.shortBigNumber.toString()
              "
              >Send max</span
            >
            <span class="axn-form-block-sendmax-text">
              Balance
              <span class="axn-form-block-sendmax-value">{{
                account?.balances?.ETH.shortBigNumber | bigNumberFormat: 0:true:false:2
              }}</span></span
            >
          </div>
          <div class="axn-form-block-button" *ngIf="poolInfo.axn > 0">
            <button
              class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-small"
              [ngClass]="{ progress: sendAuctionProgress }"
              [disabled]="!dataSendForm || sendAuctionProgress"
              (click)="sendETHToAuction()"
            >
              <span class="lds-ellipsis" *ngIf="sendAuctionProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>
              <span class="axn-btn-text axn-btn-arrow-right">SEND</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="axn-form-block">
      <div class="axn-form-base-2">
        <div class="axn-form-block-one axn-form-border-dashed-right">
          <span class="axn-form-block-one-title">AXN Pool</span>
          <span
            class="axn-form-block-one-value-small p-tb-5"
            matTooltipClass="table__tooltip"
            mat-raised-button
            matTooltip="{{ poolInfo.axn || 0 }}"
          >
            {{ poolInfo.axn | bigNumberFormat: 0:true:false:2 || 0 }}
          </span>
          <span class="axn-cheap icon icon_axn cl-blue-bg">AXN</span>
        </div>
        <div class="axn-form-block-one">
          <span class="axn-form-block-one-title">ETH Pool</span>
          <span
            class="axn-form-block-one-value-small p-tb-5"
            matTooltipClass="table__tooltip"
            mat-raised-button
            matTooltip="{{
              poolInfo.eth
                | bigNumberFormat: tokensDecimals['ETH']:true:false:18
            }}"
          >
            {{
              poolInfo.eth | bigNumberFormat: tokensDecimals["ETH"]:true:false:2
            }}
          </span>
          <span class="axn-cheap icon icon_eth cl-purple-bg">ETH</span>
        </div>
      </div>
      <div class="axn-form-block-pool axn-form-bottom">
        <span class="axn-form-block-pool-title">Auction price</span>
        <div class="axn-form-block-pool-axn">
          <span class="icon icon-flex icon__axion"
            >{{ poolInfo.axnToEth | bigNumberFormat: 0:true:false:18 }} AXN</span
          >
          <span class="cl-purple">=</span>
          <span class="icon icon-flex icon__eth-purple cl-purple">1 ETH</span>
        </div>

        <span class="axn-form-block-pool-title">Uniswap price</span>
        <div class="axn-form-block-pool-uni">
          <span class="icon icon-flex icon__axion-gray cl-gray-dark"
            >{{ poolInfo.uniToEth | bigNumberFormat: 0:true:false:18 || 0 }} AXN</span
          >
          <span class="cl-gray-dark">=</span>
          <span class="cl-gray-dark">1 ETH</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="axn-section" *ngIf="account">
  <div class="axn-form-block axn-form-auction" style="min-height: auto">
    <div
      class="p-20"
      [ngClass]="{ 'axn-form-border-dashed-bottom': referalAddress }"
    >
      <div class="axn-title-block">
        <span class="axn-title">Referral Program</span>
        <div
          class="question"
          #tooltip="matTooltip"
          (click)="tooltip.toggle()"
          mat-raised-button
          matTooltip="By submitting a referral link to the auction, both the auction participant and the link provider receive bonus Axion. The participant of the auction (referral) receives an additional 10% to the amount of the credit, the referee (who provided the link) receives an additional 20% of the amount of the credit.

          Any user can participate in the referral program, even those who do not have Axion tokens on their balance."
          matTooltipClass="question__tooltip"
        ></div>
      </div>
      <div class="axn-form-block-button axn-form-block-referal m-t-20">
        <span
          *ngIf="referalLink === ''"
          (click)="generateRefLink()"
          class="axn-btn axn-btn-gray"
          style="max-width: 200px"
          >Generate referral link</span
        >

        <input
          *ngIf="referalLink != ''"
          class="axn-input"
          (click)="$event.target.select()"
          readonly
          [value]="referalLink"
        />

        <button
          *ngIf="referalLink != ''"
          class="axn-btn axn-btn-gray"
          style="max-width: 100px; margin-left: 10px"
          ngxClipboard
          [cbContent]="referalLink"
          (cbOnSuccess)="onCopied()"
        >
          Copy
        </button>

        <span class="axn-form-block-referal-text" *ngIf="addressCopy">
          address copied
        </span>
      </div>
    </div>
    <div
      class="axn-form-block-referal-link p-20"
      *ngIf="account && referalAddress"
    >
      <span class="axn-form-block-referal-link-text">
        Referrer address
        <span class="cl-purple">{{ referalAddress }}</span></span
      >
      <span
        (click)="resetRef()"
        class="axn-btn axn-btn-gray t-t-u"
        style="max-width: 100px; margin: 0"
        >Reset</span
      >
    </div>
  </div>
</section>

<section class="axn-section" *ngIf="account && showAuctions && hasActiveBids">
  <div class="axn-form-block p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">My Bids</span>
    </div>

    <table
      class="standard-table"
      cellpadding="0"
      cellspacing="0"
      border="0"
    >
      <thead>
        <tr>
          <th>Date</th>
          <th>AXN in pool</th>
          <th>ETH in pool</th>
          <th>My ETH</th>
          <th>My AXN</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auction of activeBids">
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ auction.start_date | date: 'long' }}"
            >
              {{ auction.start_date | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                auction.axn_pool
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                auction.axn_pool
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}
            </span>
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                auction.eth_pool
                  | bigNumberFormat: tokensDecimals['ETH']:true:false:18
              }}"
            >
              {{
                auction.eth_pool
                  | bigNumberFormat: tokensDecimals["ETH"]:true:false:2
              }}
            </span>
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                auction.eth_bet
                  | bigNumberFormat: tokensDecimals['ETH']:true:false:18
              }}"
            >
              {{
                auction.eth_bet
                  | bigNumberFormat: tokensDecimals["ETH"]:true:false:2
              }}
            </span>
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                auction.winnings | bigNumberFormat: false:true:false:18
              }}"
            >
              {{ auction.winnings | bigNumberFormat: false:true:false:2 }}
            </span>
          </td>
          <td class="action-button">
            <button
              *ngIf="auction.status === 'withdraw'"
              class="axn-btn axn-btn-gray"
              style="margin: auto"
              (click)="auctionWithdraw(auction)"
              [ngClass]="{ progress: auction.withdrawProgress }"
              [disabled]="auction.withdrawProgress"
            >
              <span class="lds-ellipsis" *ngIf="auction.withdrawProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>
              <span class="t-fz-14">&nbsp;&nbsp;WITHDRAW&nbsp;&nbsp;</span>
            </button>
            <span
              class="axn-text t-cl-purple t-t-u t-fz-14"
              *ngIf="auction.status === 'progress'"
              >in progress</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="axn-section" *ngIf="account && showAuctions && hasWithdrawnBids">
  <div class="axn-form-block p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">Bid History</span>
    </div>

    <table
      class="standard-table"
      cellpadding="0"
      cellspacing="0"
      border="0"
    >
      <thead>
        <tr>
          <th>Date</th>
          <th>AXN in pool</th>
          <th>ETH in pool</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auction of withdrawnBids">
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ auction.start_date | date: 'long' }}"
            >
              {{ auction.start_date | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                auction.axn_pool
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                auction.axn_pool
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}
            </span>
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                auction.eth_pool
                  | bigNumberFormat: tokensDecimals['ETH']:true:false:18
              }}"
            >
              {{
                auction.eth_pool
                  | bigNumberFormat: tokensDecimals["ETH"]:true:false:2
              }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="axn-section" *ngIf="account && showAuctions">
  <div class="axn-form-block p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">Auctions</span>
      <div
        class="question"
        #tooltip="matTooltip"
        (click)="tooltip.toggle()"
        mat-raised-button
        matTooltip="Auctions run daily, with a weekly mega auction every Friday.
        Each auction starts at 07:02 UTC / 23:02 PST and lasts for 24 hours."
        matTooltipClass="question__tooltip"
      ></div>
    </div>
    <table class="standard-table" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Date</th>
          <th>AXN in pool</th>
          <th>ETH in pool</th>
          <th>Completion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auction of auctions" [ngClass]="{'weekly-auction': auction.isWeekly, 'active-auction': auction.time.state === 'progress'}">
          <td class="date">
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ auction.time.date | date: 'long' }}"
            >
              {{ auction.time.date | date: "shortDate" }}<span class="label" *ngIf="auction.isWeekly">WEEKLY</span></span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                auction.data.axn_pool
                  | bigNumberFormat: tokensDecimals['HEX2X']:true:false:18
              }}"
            >
              {{
                auction.data.axn_pool
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:2
              }}
            </span>
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                auction.data.eth_pool
                  | bigNumberFormat: tokensDecimals['ETH']:true:false:18
              }}"
            >
              {{
                auction.data.eth_pool
                  | bigNumberFormat: tokensDecimals["ETH"]:true:false:2
              }}
            </span>
          </td>
          <td>
            <span class="t-cl-purple" *ngIf="auction.time.state === 'feature'"
              >Not started</span
            >
            <span class="t-cl-green" *ngIf="auction.time.state === 'progress'">
              <ng-container *ngIf="auctionTimer">
                <span>{{ auctionTimer }}</span>
              </ng-container></span
            >
            <span class="t-cl-gray" *ngIf="auction.time.state === 'finished'"
              >Closed</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<ng-template #warningModal class="dialog-block" mat-dialog-content>
  <div class="dialog-block__content">
    <div class="dialog-title">Attention!</div>

    <div class="dialog-description">
      Your bid too low, you might get nothing from the auction
    </div>

    <div class="dialog-bottom">
      <button class="axn-btn axn-btn-gray" type="button" mat-dialog-close>
        <span>Close</span>
      </button>
      <button
        class="axn-btn axn-btn-gray"
        type="button"
        (click)="successLowProfit()"
      >
        <span>Ok</span>
      </button>
    </div>
  </div>
</ng-template>
