<div class="content-container">


  <div class="content-block" [ngClass]="{'no-active': !account}">
    <div class="content-block_title">
      <span>Auction</span>
      <span class="content-block_title_help"></span>
    </div>

    <form #sendForm="ngForm" class="blocks-list blocks-list__small-size blocks-list__full-width">
      <div class="blocks-list_group blocks-list_element blocks-list_form-group">
        <div class="list">
          <div class="blocks-list_item">
            <div class="blocks-list_item_title nowrap uppercase">Your amount</div>
            <div class="blocks-list_item_value">{{account?.balances?.ETH.display}}</div>
            <div class="blocks-list_item_currency blocks-list_item_currency__eth">
              <span>ETH</span>
            </div>
          </div>
          <div class="blocks-list_item">
            <div class="blocks-list_item_title uppercase">Send to Swap</div>
            <div class="form-group">
              <div class="form-group_title uppercase">Enter amount</div>
              <div class="form-group_input">
                <input type="text"
                       *ngIf="account"
                       required="required"
                       [appBigNumber]="{
                          decimals: tokensDecimals['ETH'],
                          min: 1,
                          max: account?.balances.ETH.wei
                       }"
                       [maxValueChange]="onChangeAccount"
                       [(ngModel)]="formsData.auctionAmount"
                       name="swap-amount">
                <div class="form-group_input-btn">
                  <button (click)="formsData.auctionAmount = account?.balances.ETH.shortBigNumber.toString()">Send<br/>max</button>
                </div>
              </div>
            </div>
            <div class="blocks-list_group_btn without-margin">
              <button class="btn btn__normal"
                      [ngClass]="{progress: sendAuctionProgress}"
                      [disabled]="sendForm.invalid || sendAuctionProgress" (click)="sendETHToAuction()">
                <span class="lds-ellipsis" *ngIf="sendAuctionProgress">
                  <span class="lds-ellipsis-container">
                    <span></span><span></span><span></span><span></span>
                  </span>
                </span>
                <span>Send</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="blocks-list_element">
        <div class="blocks-list_item">
          <div class="blocks-list_item_title uppercase">Auction Contract</div>
          <div class="blocks-list_item_value" fittext [maxFontSize]="38">
            {{(auctionInfo?.currentUserBalance.eth || 0) | bigNumberFormat : 18 : true : false : 18}}
          </div>
          <div class="blocks-list_item_currency blocks-list_item_currency__eth">
            <span>ETH</span>
          </div>
        </div>
      </div>

      <div class="blocks-list_group blocks-list_element">
        <div class="blocks-list_item_title uppercase">Auction pool</div>
        <div class="list">
          <div class="blocks-list_item">
            <div class="blocks-list_item_value blocks-list_item_value__positive" fittext [maxFontSize]="38">
              {{(auctionInfo?.axnPool || 0) | bigNumberFormat : tokensDecimals?.HEX2X : true : false : 18}}
            </div>
            <div class="blocks-list_item_currency blocks-list_item_currency__axn">
              <span>AXN</span>
            </div>
          </div>
          <div class="blocks-list_item">
            <div class="blocks-list_item_value" fittext [maxFontSize]="38">
              {{(auctionInfo?.ethPool || 0) | bigNumberFormat : tokensDecimals?.ETH : true : false : 18}}
            </div>
            <div class="blocks-list_item_currency blocks-list_item_currency__eth">
              <span>ETH</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="content-block" *ngIf="auctionsList?.length">
    <div class="content-block_title text-left">
      <span>Completed Auctions</span>
    </div>
    <table class="standard-table text-left" cellpadding="0" cellspacing="0" border="0">
      <thead class="text-left">
      <tr>
        <th (click)="sortAuctions('start')" class="as-sort"
            [ngClass]="{active: currentSort['field'] === 'start', ask: currentSort['ask']}">
          Date
          <span class="sort-indicator"></span>
        </th>
        <th (click)="sortAuctions('token')" class="as-sort"
            [ngClass]="{active: currentSort['field'] === 'token', ask: currentSort['ask']}">
          HEX2X Total
          <span class="sort-indicator"></span>
        </th>
        <th (click)="sortAuctions('eth')" class="as-sort"
            [ngClass]="{active: currentSort['field'] === 'eth', ask: currentSort['ask']}">
          ETH Total
          <span class="sort-indicator"></span>
        </th>
        <th (click)="sortAuctions('accountTokenBalance')" class="as-sort"
            [ngClass]="{active: currentSort['field'] === 'accountTokenBalance', ask: currentSort['ask']}">
          Your HEX2X
          <span class="sort-indicator"></span>
        </th>
        <th width="10">&nbsp;</th>
      </tr>
      </thead>
      <tbody class="text-left">
      <tr *ngFor="let auction of auctionsList">
        <td>{{auction.start | date : 'dd.MM.yyyy'}}</td>
        <td>{{auction.token | bigNumberFormat : tokensDecimals['HEX2X'] : true : false : 4}}</td>
        <td>{{auction.eth | bigNumberFormat : tokensDecimals['ETH'] : true : false : 4}}</td>
        <td>{{auction.accountTokenBalance | bigNumberFormat : tokensDecimals['HEX2X'] : true : false : 4}}</td>
        <td class="action-button">
          <button class="btn btn__transparent" (click)="auctionWithdraw(auction)"
                  *ngIf="!auction.accountETHBalance.isZero()"
                  [ngClass]="{progress: auction.withdrawProgress}"
                  [disabled]="auction.withdrawProgress">
                <span class="lds-ellipsis" *ngIf="auction.withdrawProgress">
                  <span class="lds-ellipsis-container">
                    <span></span><span></span><span></span><span></span>
                  </span>
                </span>
            <span>&nbsp;&nbsp;Withdraw&nbsp;&nbsp;</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
