<!-- PAGE TITLE -->
<section class="axn-section" *ngIf="account">
  <div class="axn-title-block">
    <span class="axn-title" (hover)="tooltip2.toggle()">Mining</span>
    <div #tooltip2="matTooltip" (click)="tooltip2.toggle()" class="question" mat-raised-button matTooltip="
          Stake Liquidity Provider (LP) tokens and get rewarded in AXN.

          Rewards will be calculated on minute-by-minute basis, so you can stake and unstake whenever you want.

          To stake an LP token:

          1) You first need to own/buy the base token ({{currentMine ? currentMine?.base : ''}}), which increases buying pressure.

          2) You then fund a uniswap liquidity pool with an equal dollar amount of {{currentMine ? currentMine?.base : ''}} and {{currentMine ? currentMine?.market : ''}}.

          3) Once you add the liquidity, Uniswap automatically generates and sends you a LP token as a 'credit'.

          4) You can deposit those LP tokens here to earn a sizeable reward in AXN!
        " matTooltipClass="question__tooltip question__extrawidth">
    </div>
  </div>
</section>

<!-- CURRENT POOL -->
<section class="axn-section" *ngIf="account && currentMine">
  <div class="axn-form axn-form-base-2 vertical-center">
    <!-- DEPOSIT -->
    <div class="axn-form-block axn-form-auction">
      <div class="axn-form-block-one axn-form-arrow p-b-none">
        <span class="axn-form-block-one-title">Deposit {{currentMine.base}}-{{currentMine.market}} LP Tokens</span>
        <input
          type="text"
          *ngIf="account"
          required="required"
          class="axn-input"
          placeholder="0.0"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = '0.0'"
          [appBigNumber]="{
            decimals: tokensDecimals,
            max: minerBalance?.shortBigNumber
          }"
          [(ngModel)]="formData.depositAmount"
          autocomplete="off"
        />
        <span class="axn-cheap icon icon_uni cl-purple-bg">{{currentMine.base}}-{{currentMine.market}}</span>

        <div class="axn-form-bottom axn-form-base-2">
          <div class="axn-form-block-sendmax">
            <span class="axn-btn axn-btn-max" (click)="formData.depositAmount = this.minerBalance.wei">
             &nbsp;Max&nbsp;
            </span>

            <span class="axn-form-block-sendmax-text">
              Balance: {{ minerBalance?.weiBigNumber | bigNumberFormat: tokensDecimals:true:false:2 || 0}}
              <span class="axn-form-block-sendmax-value"></span>
            </span>
            <br/>
          </div>

          <!-- Deposit Button -->
          <div class="axn-form-block-button" layout-align="center center">
            <button
              class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-mid"
              [ngClass]="{ progress: currentMine.depositProgress }"
              [disabled]="!formData.depositAmount || +formData.depositAmount === 0"
              (click)="deposit()"
            >
              <!-- Ellipsis Loading Indicator -->
              <span class="lds-ellipsis" *ngIf="currentMine.depositProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>

              <!-- Button Text -->
              <span class="axn-btn-text axn-btn-arrow-right">DEPOSIT</span>
            </button>
          </div>
        </div>

      </div>
    </div>

    <!-- MINE INFO -->
    <div class="axn-form-block axn-form-auction p-b-5">
      <div class="axn-form-base-2">
        <div class="axn-form-block-one axn-form-border-dashed-right">
          <span class="axn-form-block-one-title">Your {{currentMine.base}}-{{currentMine.market}} LP Tokens</span>
          <span
            class="axn-form-block-one-value-small p-tb-5"
            matTooltipClass="table__tooltip"
            mat-raised-button
            matTooltip="{{ minerBalance.lpDeposit | bigNumberFormat: tokensDecimals:true:false:2 || 0 }}"
          >
            {{ minerBalance.lpDeposit | bigNumberFormat: 0:true:false:2 || 0 }}
          </span>

          <span class="axn-cheap icon icon_uni cl-purple-bg">{{currentMine.base}}-{{currentMine.market}}</span>
        </div>
        <div class="axn-form-block-one">
          <span class="axn-form-block-one-title">AXN Earned</span>
          <span
            class="axn-form-block-one-value-small p-tb-5"
            matTooltipClass="table__tooltip"
            mat-raised-button
            matTooltip="{{minerBalance.pendingReward | bigNumberFormat: tokensDecimals:true:false:2 || 0 }}"
          >
            {{ minerBalance.pendingReward | bigNumberFormat: 0:true:false:2 }}
          </span>
          <span class="axn-cheap icon icon_axn cl-blue-bg">AXN</span>
        </div>
      </div>

      <!-- Buttons -->
      <div class="axn-form-bottom axn-form-base-3">
        <div class="axn-form-block-one axn-form-base-center">
          <button 
            (click)="withdrawLPTokens(formdata.withdrawLPAmount)"
            [disabled]="minerBalance.lpDeposit.isZero()" 
            [ngClass]="{ progress: currentMine.withdrawLPProgress }"
            class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-mid" 
          >
            <!-- Ellipsis Loading Indicator -->
            <span class="lds-ellipsis" *ngIf="currentMine.withdrawLPProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
          
            <!-- Button Text -->
            <span class="axn-btn-text">Withdraw Tokens</span>
          </button>
        </div>

        <div class="axn-form-block-one axn-form-base-center">
          <button 
            (click)="withdrawAll()"
            [ngClass]="{ progress: currentMine.withdrawAllProgress }"
            class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-mid" 
            [disabled]="minerBalance.pendingReward.isZero() || minerBalance.lpDeposit.isZero()" 
          >
            <!-- Ellipsis Loading Indicator -->
            <span class="lds-ellipsis" *ngIf="currentMine.withdrawAllProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
          
            <!-- Button Text -->
            <span class="axn-btn-text">Withdraw All</span>
          </button>
        </div>

        <div class="axn-form-block-one axn-form-base-center">
          <button 
            (click)="withdrawRewards()"
            class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-mid" 
            [disabled]="minerBalance.pendingReward.isZero()" 
            [ngClass]="{ progress: currentMine.withdrawRewardsProgress }"
          >
            <!-- Ellipsis Loading Indicator -->
            <span class="lds-ellipsis" *ngIf="currentMine.withdrawRewardsProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
        
            <!-- Button Text -->
            <span class="axn-btn-text">Withdraw Rewards</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- OPEN POOL INFO -->
  <div class="axn-form-block-one axn-form-base-center" *ngIf="currentMine">
    <button (click)="openUniswapPoolInfo()" class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-big">
      <span class="axn-btn-text">
        <span class="icon icon_uni"></span>&nbsp;&nbsp;Open Pool Stats
      </span>
    </button>
  </div>
</section>

<!-- AVAILABLE MINES -->
<section class="axn-section" *ngIf="account && currentMine && mines.length > 1">
  <div class="axn-title-block">
    <span class="axn-title">Mines</span>

    <div 
      #tooltip2="matTooltip" 
      (click)="tooltip2.toggle()" 
      class="question" 
      mat-raised-button
      matTooltip="Below are the available mines."
      matTooltipClass="question__tooltip">
    </div>
  </div>

  <div class="axn-form axn-form-base-3">
    <div class="axn-form-block axn-form-block-one axn-form-base-center" *ngFor="let mine of mines">
      <p class="axn-text-subtitle">{{mine.base}}-{{mine.market}}</p>
      <p class="axn-text-body">
        Start: Block {{mine.startBlock}}<br/>
        Reward: {{mine.rewardBalance | bigNumberFormat: tokensDecimals:true:false:2 || 0}} AXN
      </p>

      <button 
        (click)="setCurrentMine(mine)" 
        class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-big" 
        [ngClass]="{ progress: switchingLoading === mine.lpToken }"
        [disabled]="switchingLoading === mine.lpToken || currentMine.lpToken === mine.lpToken" 
      >
        <!-- Ellipsis Loading Indicator -->
        <span class="lds-ellipsis" *ngIf="switchingLoading === mine.lpToken">
          <span class="lds-ellipsis-container">
            <span></span><span></span><span></span><span></span>
          </span>
        </span>
      
        <!-- Button Text -->
        <span class="axn-btn-text">Open Mine</span>
      </button>

    </div>
  </div>

</section>

<!-- MANAGERS ONLY: CREATE A POOL -->
<section class="axn-section" *ngIf="account && account.isManager">
  <div class="axn-form-block-one axn-form-base-center">
    <button (click)="openCreateMineModal()" class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-big">
      <span class="axn-btn-text">
        Create Mine
      </span>
    </button>
  </div>
</section>

<!-- Create Mine Modal -->
<ng-template #createMineModal class="dialog-block" mat-dialog-content>
  <div class="dialog-block__content">
    <div class="dialog-title">Create a Mine</div>

    <div class="dialog-description dialog-description-slim">
      <div class="axn-form axn-form-block-one">

        <!-- Token Address -->
        <span class="axn-form-block-one-title">LP Token Address</span>
        <input placeholder="0x0000000000000000000000000000000000000000" type="text" class="axn-input" required="required" [(ngModel)]="createMineData.tokenAddress" (blur)="onCreateMineAddressChanged()"/>
        <span class="axn-text-body" *ngIf="createMineData.base && createMineData.market">
          Pair: 
          <span class="axn-text-body-link" (click)="openUniswapPoolInfo(createMineData.tokenAddress)">{{createMineData.base}}-{{createMineData.market}}</span>
        </span>

        <!-- Start & End Block -->
        <div class="axn-form axn-form-base-2">
            <div class="axn-form-block-one">
              <span class="axn-form-block-one-title">Start Block</span>
              <input placeholder="116797939" step="1" type="number" class="axn-input" required="required" [(ngModel)]="createMineData.startBlock" />
            </div>
            <div class="axn-form-block-one">
              <span class="axn-form-block-one-title">End Block</span>
              <input placeholder="116797939" step="1" type="number" class="axn-input" required="required" [(ngModel)]="createMineData.endBlock" />
            </div>
        </div>

        <!-- Reward Amount -->
        <div class="axn-form-block-one">
          <span class="axn-form-block-one-title">Reward Pool</span>
          <input
            type="text"
            class="axn-input"
            name="reward-mine"
            placeholder="5,000,000,000"
            onfocus="this.placeholder = ''"
            (ngModelChange)="onRewardAmountChanged()"
            
            onblur="this.placeholder = '5,000,000,000'"
            [(ngModel)]="createMineData.rewardBalance"
            [appBigNumber]="{decimals: tokensDecimals, min: 1 }"
          />
          <span class="axn-cheap icon icon_axn cl-blue-bg">AXN</span>
        </div>

        <span class="axn-text-body" *ngIf="createMineData.blockReward">
          Block Reward: {{createMineData.blockReward | bigNumberFormat: tokensDecimals:true:false:2}} AXN
        </span>
      </div>
    </div>

    <div class="dialog-bottom">
      <button class="axn-btn axn-btn-gray" type="button" mat-dialog-close>
        <span>Close</span>
      </button>

      <button 
        (click)="createMine()"
        class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-mid"
        [ngClass]="{ progress: createMineData.progressIndicator }" 
        [disabled]="createMineData.progressIndicator"
      >
        <span class="lds-ellipsis" *ngIf="createMineData.progressIndicator">
          <span class="lds-ellipsis-container">
            <span></span><span></span><span></span><span></span>
          </span>
        </span>

        <span class="axn-btn-text">Create</span>
      </button>
    </div>

  </div>
</ng-template>