<section class="axn-section" *ngIf="account">
  <div class="axn-title-block">
    <span class="axn-title" (hover)="tooltip2.toggle()">Mining</span>
    <div 
      #tooltip2="matTooltip" 
      (click)="tooltip2.toggle()" 
      class="question" 
      mat-raised-button 
      matTooltip="
        Stake {{currentPool.base}}-{{currentPool.market}} Liquidity Provider (LP) tokens and get rewarded in AXN.

        Rewards will be calculated on minute-by-minute basis, so you can stake and unstake whenever you want.

        To stake an LP token:

        1) You first need to own/buy the base token ({{currentPool.base}}), which increases buying pressure.

        2) You then fund a uniswap liquidity pool with an equal dollar amount of {{currentPool.base}} and {{currentPool.market}}.

        3) Once you add the liquidity, Uniswap automatically generates and sends you a LP token as a 'credit'.

        4) You can deposit those LP tokens here to earn a sizeable reward in AXN!
      "
      matTooltipClass="question__tooltip question__extrawidth">
    </div>
  </div>

  <div class="axn-form axn-form-base-2">

    <!-- DEPOSIT -->
    <div class="axn-form-block axn-form-auction">
      <div class="axn-form-block-one axn-form-arrow p-b-none">
        <span class="axn-form-block-one-title">Deposit {{currentPool.base}}-{{currentPool.market}} LP Tokens</span>
        <input
          type="text"
          *ngIf="account"
          required="required"
          class="axn-input"
          placeholder="0.0"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = '0.0'"
          [appBigNumber]="{
            decimals: tokensDecimals,
            max: userTokenBalance?.shortBigNumber
          }"
          [(ngModel)]="depositAmount"
          autocomplete="off"
        />
        <span class="axn-cheap icon icon_uni cl-purple-bg">{{currentPool.base}}-{{currentPool.market}}</span>

        <div class="axn-form-bottom axn-form-base-2">
          <div class="axn-form-block-sendmax">
            <span class="axn-btn axn-btn-max" (click)="addMax()">
             &nbsp;Max&nbsp;
            </span>

            <span class="axn-form-block-sendmax-text">
              Balance: {{ userTokenBalance?.weiBigNumber | bigNumberFormat: tokensDecimals:true:false:2 || 0}}
              <span class="axn-form-block-sendmax-value"></span>
            </span>
            <br/>
          </div>

          <!-- Deposit Button -->
          <div class="axn-form-block-button" layout-align="center center">
            <button
              class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-mid"
              [ngClass]="{ progress: currentPool.depositProgress }"
              [disabled]="!depositAmount || +depositAmount === 0 || !currentPool.isLive"
              (click)="depositLPTokens()"
            >
              <!-- Ellipsis Loading Indicator -->
              <span class="lds-ellipsis" *ngIf="currentPool.depositProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>

              <!-- Button Text -->
              <span class="axn-btn-text axn-btn-arrow-right">DEPOSIT</span>
            </button>
          </div>
        </div>

      </div>
    </div>

    <!-- POOL INFO -->
    <div class="axn-form-block axn-form-auction">
      <div class="axn-form-base-2">
        <div class="axn-form-block-one axn-form-border-dashed-right">
          <span class="axn-form-block-one-title">Your {{currentPool.base}}-{{currentPool.market}} LP</span>
          <span
            class="axn-form-block-one-value-small p-tb-5"
            matTooltipClass="table__tooltip"
            mat-raised-button
            matTooltip="{{ currentPoolStats.stakedTokens | bigNumberFormat: tokensDecimals:true:false:2 || 0 }}"
          >
            {{ currentPoolStats.stakedTokens | bigNumberFormat: 0:true:false:2 || 0 }}
          </span>

          <span class="axn-cheap icon icon_uni cl-purple-bg">{{currentPool.base}}-{{currentPool.market}}</span>
        </div>
        <div class="axn-form-block-one">
          <span class="axn-form-block-one-title">AXN Earned</span>
          <span
            class="axn-form-block-one-value-small p-tb-5"
            matTooltipClass="table__tooltip"
            mat-raised-button
            matTooltip="{{currentPoolStats.rewardsEarned | bigNumberFormat: tokensDecimals:true:false:18 }}"
          >
            {{ currentPoolStats.rewardsEarned | bigNumberFormat: 0:true:false:2 }}
          </span>
          <span class="axn-cheap icon icon_axn cl-blue-bg">AXN</span>
        </div>
      </div>

      <!-- Buttons -->
      <div class="axn-form-base-3">
        <div class="axn-form-block-one axn-form-base-center">
          <button class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-mid" [ngClass]="{ progress: currentPool.withdrawLPProgress }"
            [disabled]="currentPoolStats.stakedTokens.isZero()" (click)="withdraw('LP')">
            <!-- Ellipsis Loading Indicator -->
            <span class="lds-ellipsis" *ngIf="currentPool.withdrawLPProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
          
            <!-- Button Text -->
            <span class="axn-btn-text">Withdraw Tokens</span>
          </button>
        </div>

        <div class="axn-form-block-one axn-form-base-center">
          <button class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-mid" [ngClass]="{ progress: currentPool.withdrawAllProgress }"
            [disabled]="currentPoolStats.rewardsEarned.isZero() || currentPoolStats.stakedTokens.isZero()" (click)="withdraw('ALL')">
            <!-- Ellipsis Loading Indicator -->
            <span class="lds-ellipsis" *ngIf="currentPool.withdrawAllProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
          
            <!-- Button Text -->
            <span class="axn-btn-text">Withdraw All</span>
          </button>
        </div>
        
        <div class="axn-form-block-one axn-form-base-center">
          <button class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-mid" [ngClass]="{ progress: currentPool.withdrawRewardsProgress }"
            [disabled]="currentPoolStats.rewardsEarned.isZero()" (click)="withdraw('REWARDS')">
            <!-- Ellipsis Loading Indicator -->
            <span class="lds-ellipsis" *ngIf="currentPool.withdrawRewardsProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
        
            <!-- Button Text -->
            <span class="axn-btn-text">Withdraw Rewards</span>
          </button>
        </div>
      </div>

    </div>

  </div>
</section>
