<section class="axn-section" *ngIf="account">
  <div class="axn-title-block">
    <span class="axn-title" (hover)="tooltip2.toggle()">Mining</span>
    <div 
      #tooltip2="matTooltip" 
      (click)="tooltip2.toggle()" 
      class="question" 
      mat-raised-button 
      matTooltip="Yo, this needs to be changed. @JoeJoe"
      matTooltipClass="question__tooltip question__extrawidth">
    </div>
  </div>

  <div class="axn-form axn-form-base-2">

    <!-- DEPOSIT -->
    <div class="axn-form-block axn-form-auction">
      <div class="axn-form-block-one axn-form-arrow p-b-none">
        <span class="axn-form-block-one-title">Deposit AXN-ETH LP Tokens</span>
        <input
          type="text"
          *ngIf="account"
          required="required"
          class="axn-input"
          placeholder="0.0"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = '0.0'"
          [appBigNumber]="{
            decimals: tokensDecimals['ETH'],
            min: 1,
            max: account?.balances.ETH.wei
          }"
          [maxValueChange]="onChangeAccount"
          (ngModelChange)="onChangeAmount()"
          [(ngModel)]="formsData"
          autocomplete="off"
        />
        <span class="axn-cheap icon icon_uni cl-purple-bg">AXN-ETH</span>

        <div class="axn-form-bottom axn-form-base-2">
          <div class="axn-form-block-sendmax">
            <span class="axn-btn axn-btn-max" (click)="formsData.auctionAmount = account?.balances.ETH.shortBigNumber.toString()">
             &nbsp;Max&nbsp;
            </span>

            <span class="axn-form-block-sendmax-text">
              Balance: {{ account?.balances?.ETH.shortBigNumber | bigNumberFormat: 0:true:false:2 }}
              <span class="axn-form-block-sendmax-value"></span>
            </span>
            <br/>
          </div>

          <!-- Deposit Button -->
          <div class="axn-form-block-button" layout-align="center center">
            <button
              class="axn-btn axn-btn-gray axn-btn-form axn-btn-form-mid"
              [ngClass]="{ progress: sendAuctionProgress }"
              [disabled]="!dataSendForm || sendAuctionProgress"
              (click)="sendETHToAuction()"
            >
              <!-- Ellipsis Loading Indicator -->
              <span class="lds-ellipsis" *ngIf="sendAuctionProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>

              <!-- Button Text -->
              <span class="axn-btn-text axn-btn-arrow-right">DEPOSIT</span>
            </button>
          </div>
        </div>

      </div>
    </div>

    <!-- POOL INFO -->
    <div class="axn-form-block axn-form-auction">
      <div class="axn-form-base-2">
        <div class="axn-form-block-one axn-form-border-dashed-right">
          <span class="axn-form-block-one-title">Your AXN-ETH LP</span>
          <span
            class="axn-form-block-one-value-small p-tb-5"
            matTooltipClass="table__tooltip"
            mat-raised-button
            matTooltip="{{ 0 | bigNumberFormat: 0:true:false:2 || 0 }}"
          >
            {{ 0 | bigNumberFormat: 0:true:false:2 || 0 }}
          </span>

          <span class="axn-cheap icon icon_uni cl-purple-bg">AXN-ETH</span>
        </div>
        <div class="axn-form-block-one">
          <span class="axn-form-block-one-title">AXN Earned</span>
          <span
            class="axn-form-block-one-value-small p-tb-5"
            matTooltipClass="table__tooltip"
            mat-raised-button
            matTooltip="{{0 | bigNumberFormat: tokensDecimals['ETH']:true:false:18 }}"
          >
            {{ 0 | bigNumberFormat: tokensDecimals["ETH"]:true:false:2 }}
          </span>
          <span class="axn-cheap icon icon_axn cl-blue-bg">AXN</span>
        </div>
      </div>

      <!-- Buttons -->
      <div class="axn-form-base-3">
        <div class="axn-form-block-one axn-form-base-center">
          <button class="axn-btn axn-btn-gray axn-btn-form axn-form-btn-mid" [ngClass]="{ progress: sendAuctionProgress }"
            [disabled]="!dataSendForm || sendAuctionProgress" (click)="sendETHToAuction()">
            <!-- Ellipsis Loading Indicator -->
            <span class="lds-ellipsis" *ngIf="sendAuctionProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
          
            <!-- Button Text -->
            <span class="axn-btn-text">Withdraw Tokens</span>
          </button>
        </div>

        <div class="axn-form-block-one axn-form-base-center">
          <button class="axn-btn axn-btn-gray axn-btn-form" [ngClass]="{ progress: sendAuctionProgress }"
            [disabled]="!dataSendForm || sendAuctionProgress" (click)="sendETHToAuction()">
            <!-- Ellipsis Loading Indicator -->
            <span class="lds-ellipsis" *ngIf="sendAuctionProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
          
            <!-- Button Text -->
            <span class="axn-btn-text">Withdraw All</span>
          </button>
        </div>
        
        <div class="axn-form-block-one axn-form-base-center">
          <button class="axn-btn axn-btn-gray axn-btn-form" [ngClass]="{ progress: sendAuctionProgress }"
            [disabled]="!dataSendForm || sendAuctionProgress" (click)="sendETHToAuction()">
            <!-- Ellipsis Loading Indicator -->
            <span class="lds-ellipsis" *ngIf="sendAuctionProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
        
            <!-- Button Text -->
            <span class="axn-btn-text">Withdraw Rewards</span>
          </button>
        </div>
      </div>

    </div>

  </div>
</section>
