<section class="axn-section" *ngIf="account">
  <div class="axn-title-block">
    <span class="axn-title">Create Stake</span>
    <div
      class="question"
      mat-raised-button
      #tooltip="matTooltip"
      (click)="tooltip.toggle()"
      matTooltip="
        Stake your Axion and get revenue from staking contract. By creating a stake, the user loses access to his Axion tokens, but receives Shares, indicating the user's share in the distribution of dividends from the daily dividend pool.

        The formula for calculating daily dividends is as follows:
        dailyInterest = dailyPool * userShares / totalSupplyShares

        Then the formula for receiving dividends from the stake will be the following:
        stakingInterest =sum(dailyInterest(i) * userShares / totalSupplyShares(i))
        for each staking day.
        "
      matTooltipClass="question__tooltip"
    ></div>
  </div>
</section>

<section class="axn-section" *ngIf="account">
  <div class="axn-form-block p-20">
    <div class="axn-title-block">
      <span>Estimate your staking earnings here: <a href="https://axioncalc.com" target="_blank" [ngStyle]="{'color': 'inherit'}">axioncalc.com</a></span>
    </div>
  </div>
</section>
  
<section class="axn-section" *ngIf="account">
  <form #stakeForm="ngForm" class="axn-form axn-form-3-1">
    <div class="axn-form-block axn-form-staking">
      <div class="axn-form-block-one">
        <span class="axn-form-block-one-title">Amount</span>
        <input
          *ngIf="account"
          type="text"
          class="axn-input axn-input-mid"
          autocomplete="off"
          required="required"
          [appBigNumber]="{
            decimals: tokensDecimals['AXN'],
            min: 1,
            max: account?.balances.AXN.wei
          }"
          name="stake-amount"
          placeholder="0.0"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = '0.0'"
          (ngModelChange)="onChangeAmount()"
          [maxValueChange]="onChangeAccount"
          [(ngModel)]="formsData.stakeAmount"
          autocomplete="off"
        />
        <span class="axn-cheap icon icon_axn cl-blue-bg">AXN</span>

        <div class="axn-form-block-sendmax axn-form-bottom-mid">
          <span
            class="axn-btn axn-btn-max"
            (click)="
              formsData.stakeAmount = account?.balances.AXN.wei;
              onChangeAmount()
            "
            >Max</span
          >
          <span class="axn-form-block-sendmax-text">
            Balance
            <span class="axn-form-block-sendmax-value-mid">
              {{ account?.balances?.AXN.display }}
            </span></span
          >
        </div>
      </div>
    </div>

    <div class="axn-form-block axn-form-arrow axn-form-staking">
      <div class="axn-form-block-one">
        <span class="axn-form-block-one-title">Length</span>
        <input
          class="axn-input axn-input-mid"
          type="number"
          step="1"
          autocomplete="off"
          [appMinMaxNumber]="{
            min: 1,
            max: stakeMaxDays
          }"
          min="1"
          (ngModelChange)="onChangeAmount()"
          [max]="stakeMaxDays"
          placeholder="0"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = '0'"
          required="required"
          name="stake-days"
          [(ngModel)]="formsData.stakeDays"
          autocomplete="off"
        />
        <span class="axn-cheap cl-blue-bg">Days</span>
        <div class="axn-form-block-sendmax axn-form-bottom-mid">
          <span
            class="axn-btn axn-btn-max"
            (click)="formsData.stakeDays = stakeMaxDays; onChangeAmount()"
            >Max</span
          >
        </div>
      </div>
    </div>

    <div class="axn-form-block p-20">
      <div class="axn-form-block-one">
        <div class="axn-form-base-2 p-b-15 axn-form-border-dashed-bottom">
          <div class="axn-form-base-1 p-l-10">
            <div class="axn-form-block-shares">
              <span
                class="axn-form-block-shares-value cl-blue"
                matTooltipClass="table__tooltip"
                mat-raised-button
                matTooltip="{{ shareRate | bigNumberFormat: 0:true:false:18 }}"
              >
                {{ shareRate | bigNumberFormat: 0:true:false:2 }}
              </span>
              <br />
              <span class="axn-form-block-shares-text">Total Shares</span>
            </div>
            <div class="axn-form-block-shares">
              <span
                class="axn-form-block-shares-value cl-blue"
                matTooltipClass="table__tooltip"
                mat-raised-button
                matTooltip="{{
                  stakingContractInfo.ShareRate || 0
                    | bigNumberFormat: tokensDecimals.AXN:true:false:18
                }}"
              >
                {{
                  stakingContractInfo.ShareRate || 0
                    | bigNumberFormat: tokensDecimals.AXN:true:false:2
                }}
              </span>
              <br />
              <span class="axn-form-block-shares-text">Share rate</span>
            </div>
          </div>
          <div class="axn-form-base-5">
            <div class="axn-form-block-shares-right">
              <span
                class="axn-form-block-shares-value-min"
                matTooltipClass="table__tooltip"
                mat-raised-button
                matTooltip="{{
                  share.full | bigNumberFormat: 0:true:false:18 || 0
                }}"
              >
                {{ share.short || 0 }}
              </span>
              <br />
              <span class="axn-form-block-shares-text-min">Shares</span>
            </div>
            <div class="axn-form-block-shares-right">
              <span
                class="axn-form-block-shares-value-min"
                matTooltipClass="table__tooltip"
                mat-raised-button
                matTooltip="{{
                  bonusLongerPays
                    | bigNumberFormat: tokensDecimals.AXN:true:false:18
                }}"
              >
                {{
                  bonusLongerPays
                    | bigNumberFormat: tokensDecimals.AXN:true:false:2
                }}
              </span>
              <br />
              <span class="axn-form-block-shares-text-min"
                >Longer pays better</span
              >
            </div>
          </div>
        </div>
        <div class="axn-form-base p-b-15 axn-form-border-dashed-bottom">
          <div class="axn-form-block-shares p-l-10">
            <span class="axn-form-block-shares-value cl-blue">{{
              startDay | date: "shortDate"
            }}</span>
            <br />
            <span class="axn-form-block-shares-text-min">Start Day</span>
          </div>
          <div class="axn-form-block-shares">
            <span class="axn-form-block-shares-value cl-blue">{{
              stakeEndDate | date: "shortDate"
            }}</span
            ><br />
            <span class="axn-form-block-shares-text-min">Ends</span>
          </div>
        </div>
        <div class="axn-form-bpd p-b-15 axn-form-border-dashed-bottom">
          <ng-container *ngFor="let item of bpd; let $index = index">
            <div class="axn-form-block-shares p-l-10">
              <span
                class="icon icon-flex axn-form-block-shares-text-min"
                [ngClass]="{
                  'icon_ok-1': shouldCheckBoxForBPD($index),
                  icon_no: !shouldCheckBoxForBPD($index)
                }"
                >BPD {{ $index + 1 }}</span
              >
              <span class="axn-form-block-shares-text-min cl-blue">{{
                item.dateEnd | date: "shortDate"
              }}</span>
            </div>
          </ng-container>
        </div>
        <button
          class="axn-btn axn-btn-gray axn-btn-form axn-btn-max-width m-t-15"
          (click)="openStake()"
          [disabled]="!stakeForm.valid"
          [ngClass]="{ progress: stakeTokensProgress }"
        >
          <span class="lds-ellipsis" *ngIf="stakeTokensProgress">
            <span class="lds-ellipsis-container">
              <span></span><span></span><span></span><span></span>
            </span>
          </span>
          <span>STAKE</span>
        </button>
      </div>
    </div>
  </form>
</section>

<section class="axn-section" *ngIf="tableInfo">
  <div class="axn-form-block table-container p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">BigPayDay</span>
      <div
        class="question"
        mat-raised-button
        #tooltip2="matTooltip"
        (click)="tooltip2.toggle()"
        matTooltip="
        BigPayDay - designed for the annual distribution of Axion tokens unclaimed for HEX. Every year, for 351 days - the amount accumulated in the BigPayDay pool will be distributed among the stakes for 350 days or more.

        There are 5 BigPayDay pools:
        First year - 10% of the total amount of tokens sent to BigPayDay,
        Second year - 15%,
        Third year - 20%,
        Fourth year - 25%,
        Fifths year - 30%.

        In addition to the tokens that get into BigPayDay from the exchange of HEX for Axion, BigPayDay is replenished with tokens according to the following formula:
        BigPayDayPool = (dailyPool + BigPayDayTokens) * (1 + CriticalMassBonus + ViralityBonus), where
        CriticalMassBonus - ratio of exchanged HEX and Shares tokens to their total supply on the Snapshot day,
        ViralityBonus - the ratio of the addresses that changed HEX and Shares to the total number of addresses on the day of Snapshot.&#13;&#13;"
        matTooltipClass="question__tooltip"
      ></div>
    </div>
    <table class="standard-table" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <ng-container *ngFor="let item of bpd">
            <th *ngIf="item.show">{{ item.daysLeft }} Days left</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr>
          <ng-container *ngFor="let item of bpd">
            <td *ngIf="item.show">
              {{ item.value | number }}
              <span
                class="axn-cheap icon icon_axn cl-blue-bg"
                style="margin: 10px auto 0px auto"
                >AXN</span
              >
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="axn-section" *ngIf="activeStakeTotals && tokensDecimals">
  <div class="axn-form-block table-container p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">Active Stake Totals</span>
    </div>
    <table class="standard-table" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Principal</th>
          <th>Shares</th>
          <th>BigPayDay</th>
          <th>Interest</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(activeStakeTotals.principal)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
              {{
                activeStakeTotals.principal
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                activeStakeTotals.shares
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:18
              }}"
            >
              {{
                activeStakeTotals.shares
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(activeStakeTotals.bigPayDay)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
              {{
                activeStakeTotals.bigPayDay
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(activeStakeTotals.interest)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
              {{
                activeStakeTotals.interest
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(activeStakeTotals.total) 
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
              {{
                activeStakeTotals.total
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="axn-section" *ngIf="stakes?.matured?.length && tokensDecimals">
  <div class="axn-form-block table-container p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">Matured Stakes</span>
    </div>
    <table class="standard-table" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Progress</th>
          <th>Principal</th>
          <th>Shares</th>
          <th>Interest</th>
          <th>APY
            <div
              class="question"
              mat-raised-button
              #tooltip="matTooltip"
              (click)="tooltip.toggle()"
              matTooltip="APY is an estimate based on past data and updates daily based on the interest earned."
              matTooltipClass="question__tooltip"
            ></div>
          </th>
          <th width="10">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stake of stakes.matured">
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.start | date: 'long' }}"
            >
              {{ stake.start | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.end | date: 'long' }}"
            >
              {{ stake.end | date: "shortDate" }}</span
            >
          </td>
          <td>{{ getProgress(stake) }}%</td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(stake.principal)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
              {{
                stake.principal
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.shares
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:18
              }}"
            >
              {{
                stake.shares
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(stake.interest)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
              {{
                stake.interest
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            ><br>
            <span
              *ngIf="!stake.bigPayDay.isZero()"
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(stake.bigPayDay)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
               + {{
                stake.bigPayDay
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }} BPD</span
            >
          </td>
          <td>{{ stake.apy }}%</td>
          <td class="action-button">
            <button
              class="axn-btn axn-btn-gray"
              (click)="openStakeActions(stake)"
              [ngClass]="{ progress: stake.withdrawProgress }"
              [disabled]="stake.withdrawProgress"
              *ngIf="!stake.isWithdrawn"
            >
              <span class="lds-ellipsis" *ngIf="stake.withdrawProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>
              <span class="t-fw-light">&nbsp;&nbsp;ACTIONS&nbsp;&nbsp;</span>
            </button>
            <button
              class="axn-btn axn-btn-gray"
              (click)="bpdWithdraw(stake)"
              [ngClass]="{ progress: stake.withdrawProgress }"
              [disabled]="stake.withdrawProgress"
              *ngIf="
                stake.isWithdrawn &&
                stake.isBpdWithdraw &&
                !stake.isBpdWithdrawn
              "
            >
              <span class="lds-ellipsis" *ngIf="stake.withdrawProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>
              <span class="t-fw-light"
                >&nbsp;&nbsp;WITHDRAW BPD&nbsp;&nbsp;</span
              >
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="axn-section" *ngIf="stakes?.active?.length && tokensDecimals">
  <div class="axn-form-block table-container p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">Active Stakes</span>
    </div>
    <table class="standard-table" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Progress</th>
          <th>Principal</th>
          <th>Shares</th>
          <th>Interest</th>
          <th>APY
            <div
              class="question"
              mat-raised-button
              #tooltip="matTooltip"
              (click)="tooltip.toggle()"
              matTooltip="APY is an estimate based on past data and updates daily based on the interest earned."
              matTooltipClass="question__tooltip"
            ></div>
          </th>
          <th width="10">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stake of stakes.active">
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.start | date: 'long' }}"
            >
              {{ stake.start | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.end | date: 'long' }}"
            >
              {{ stake.end | date: "shortDate" }}</span
            >
          </td>
          <td>{{ getProgress(stake) }}%</td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(stake.principal)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
              {{
                stake.principal
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.shares
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:18
              }}"
            >
              {{
                stake.shares
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(stake.interest)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
              {{
                stake.interest
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            ><br>
            <span
              *ngIf="!stake.bigPayDay.isZero()"
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(stake.bigPayDay)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
               + {{
                stake.bigPayDay
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }} BPD</span
            >
          </td>
          <td>{{stake.apy === 0 ? "TBC" : stake.apy+"%"}}</td>
          <td class="action-button">
            <button
              class="axn-btn axn-btn-gray"
              (click)="stakeWithdraw(stake)"
              [ngClass]="{ progress: stake.withdrawProgress }"
              [disabled]="stake.withdrawProgress"
              *ngIf="!stake.isWithdrawn"
            >
              <span class="lds-ellipsis" *ngIf="stake.withdrawProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>
              <span class="t-fw-light">&nbsp;&nbsp;WITHDRAW&nbsp;&nbsp;</span>
            </button>
            <button
              class="axn-btn axn-btn-gray"
              (click)="bpdWithdraw(stake)"
              [ngClass]="{ progress: stake.withdrawProgress }"
              [disabled]="stake.withdrawProgress"
              *ngIf="
                stake.isWithdrawn &&
                stake.isBpdWithdraw &&
                !stake.isBpdWithdrawn
              "
            >
              <span class="lds-ellipsis" *ngIf="stake.withdrawProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>
              <span class="t-fw-light"
                >&nbsp;&nbsp;WITHDRAW BPD&nbsp;&nbsp;</span
              >
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="axn-section" *ngIf="stakes?.closed?.length && tokensDecimals">
  <div class="axn-form-block table-container p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">Stake History</span>
    </div>
    <table class="standard-table" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Start</th>
          <th>Target End</th>
          <th>Actual End</th>
          <th>Principal</th>
          <th>Shares</th>
          <th>Interest/Penalty</th>
          <th>APY
            <div
              class="question"
              mat-raised-button
              #tooltip="matTooltip"
              (click)="tooltip.toggle()"
              matTooltip="APY is an estimate based on the interest earned."
              matTooltipClass="question__tooltip"
            ></div>
          </th>
          <th>Payout</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stake of stakes.closed">
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.start | date: 'long' }}"
            >
              {{ stake.start | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.targetEnd | date: 'long' }}"
            >
              {{ stake.targetEnd | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.end | date: 'long' }}"
            >
              {{ stake.end | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(stake.principal)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
              {{
                stake.principal
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{
                stake.shares
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:18
              }}"
            >
              {{
                stake.shares
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(stake.interest)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
              {{
                stake.interest
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            ><br>
            <span
              *ngIf="!stake.bigPayDay.isZero()"
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(stake.bigPayDay)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
               + {{
                stake.bigPayDay
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }} BPD</span
            >
          </td>
          <td>{{ stake.apy }}%</td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(stake.payout)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
              {{
                stake.payout
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="axn-section" *ngIf="stakes?.closedV1?.length && tokensDecimals">
  <div class="axn-form-block table-container p-20">
    <div class="axn-title-block p-20">
      <span class="axn-title">v1 Stake History</span>
    </div>
    <table class="standard-table" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Start</th>
          <th>Target End</th>
          <th>Principal</th>
          <th>BigPayDay</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stake of stakes.closedV1">
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.start | date: 'long' }}"
            >
              {{ stake.start | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="{{ stake.end | date: 'long' }}"
            >
              {{ stake.end | date: "shortDate" }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(stake.principal)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
              {{
                stake.principal
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            >
          </td>
          <td>
            <span
              matTooltipClass="table__tooltip"
              mat-raised-button
              matTooltip="${{
                getDollarValue(stake.bigPayDay)
                  | bigNumberFormat: tokensDecimals['AXN']:true:false:2
              }}"
            >
              {{
                stake.bigPayDay
                  | bigNumberFormat: tokensDecimals["AXN"]:true:false:2
              }}</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- Early/Late Unstake Warning Modal -->
<ng-template #warningModal class="dialog-block" mat-dialog-content>
  <div class="dialog-block__content">
    <div class="dialog-title">Attention!</div>

    <div class="dialog-description">
      {{ confirmWithdrawData.late ? confirmWithdrawData.late : "" }} unstake!
      You will get
      ~{{
        confirmWithdrawData.payout
          | bigNumberFormat: tokensDecimals.AXN:true:false:2
      }}
      Axion,
      ~{{
        confirmWithdrawData.penalty
          | bigNumberFormat: tokensDecimals.AXN:true:false:2
      }}
      Axion will be penalized!
    </div>

    <div class="dialog-bottom">
      <button class="axn-btn axn-btn-gray" type="button" mat-dialog-close>
        <span>Close</span>
      </button>
      <button
        class="axn-btn axn-btn-gray"
        type="button"
        (click)="successWithPenalty()"
      >
        <span>Ok</span>
      </button>
    </div>
  </div>
</ng-template>


<!-- Unstake Modal -->
<ng-template #actionsModal class="dialog-block" mat-dialog-content>
  <div class="dialog-block__content">
    <div class="dialog-title">Stake Actions</div>

    <div class="dialog-description">
      <div>
        <p>
          <span style="font-weight: bold;">Withdraw</span><br/>
          Receive liquid AXN from this completed stake.
        </p>
        <p>
          <span style="font-weight: bold;">Restake</span><br />
          Put your completed stake earnings (principal + interest) into a new stake in one transaction.<br/>
          Enter the length of the restake, then click the "Restake" button.
          <br/><br />
          <b>Note:</b> Your restake would have a new share rate of <b>{{stakingContractInfo.ShareRate | bigNumberFormat: tokensDecimals.AXN:true:false:2}}</b>
        </p>

        <div class="axn-form-block-one">
          <div class="axn-form axn-form-base-2">
            
            <!-- LEFT COL -->
            <div class="axn-form-block-one axn-form-border-dashed-right">
              <span class="axn-form-block-one-title" style="text-transform: none; font-size: 1rem;">Restake Period</span>
              <input 
                class="axn-input" 
                type="number" 
                step="1" 
                [max]="stakeMaxDays" 
                placeholder="0"
                name="restake-days"
                autocomplete="off" 
                onblur="this.placeholder = '0'" 
                onfocus="this.placeholder = ''" 
                style="width: auto;font-size: 1.5rem;"
                (ngModelChange)="onRestakeDaysChanged()"
                [(ngModel)]="actionsModalData.stakingDays" 
                [appMinMaxNumber]="{max: stakeMaxDays}" 
              />
              <span class="axn-cheap cl-blue-bg" style="text-transform: none;">{{today + (actionsModalData.stakingDays * 24 * 60 * 60 * 1000) | date: "MMM d, y"}}</span>
              <div class="axn-form-block-sendmax axn-form-bottom-mid">
                <span class="axn-btn axn-btn-max" (click)="actionsModalData.stakingDays = stakeMaxDays;">Max Days</span>
              </div>
            </div>

            <!-- RIGHT COL -->
            <div class="axn-form-block-one" style="text-transform: none;display: block;" >
              <p *ngIf="actionsModalData.amount">Amount<br/><b>{{actionsModalData.amount | bigNumberFormat: tokensDecimals.AXN:true:false:2}} AXN</b></p>
              <p *ngIf="actionsModalData.isLate">Late Penalty<br/><b>{{actionsModalData.penalty | bigNumberFormat: tokensDecimals.AXN:true:false:2}} AXN</b></p>
              <p *ngIf="actionsModalData.shares">Shares<br /><b>{{actionsModalData.shares | bigNumberFormat: tokensDecimals.AXN:true:false:2}}</b></p>
              <p *ngIf="actionsModalData.lpb">Longer Pays Better<br /><b>{{actionsModalData.lpb | bigNumberFormat: tokensDecimals.AXN:true:false:2}}</b></p>
              <p *ngIf="actionsModalData.totalShares">Total Shares<br /><b>{{actionsModalData.totalShares | bigNumberFormat: tokensDecimals.AXN:true:false:2}}</b></p>
            </div>
          </div> 
        </div>
      </div>
    </div>

    <div class="dialog-bottom">
      <button class="axn-btn axn-btn-cancel" type="button" mat-dialog-close>
        <span>Cancel</span>
      </button>
      <button class="axn-btn axn-btn-gray" [disabled]="!actionsModalData.stakingDays" type="button" (click)="restake(actionsModalData.stake, actionsModalData.stakingDays)">
        <span>Restake</span>
      </button>
      <button class="axn-btn axn-btn-gray" type="button" (click)="successWithPenaltyActions(actionsModalData.stake)">
        <span>Withdraw</span>
      </button>
    </div>
  </div>
</ng-template>