<header class="header">
  <div class="content-container">
    <div class="header-content">
      <img class="header-logo" src="./assets/images/logo.svg"/>
      <ul class="header-menu">
        <li class="header-menu_item">
          <a routerLink="claim" routerLinkActive="active-link">Claim</a>
        </li>
        <li class="header-menu_item">
          <a routerLink="auction" routerLinkActive="active-link">Auction</a>
        </li>
        <li class="header-menu_item">
          <a routerLink="staking" routerLinkActive="active-link">Staking</a>
        </li>
        <li class="header-menu_item">
          <button class="metamask-button" (click)="subscribeAccount()" [ngClass]="{'no-clickable': !!account}">
            <img class="metamask-button_icon" src="./assets/images/metamask.svg"/>
            <span class="metamask-button_text">{{account ? account.address : 'MetaMask'}}</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="content-container">
  <div class="left-days-info" #runString [ngClass]="{visibility: leftDaysInfo }">
    <span class="repeat-content">
      <b>{{ leftDaysInfo?.leftDays || 350 }}</b>&nbsp;<b>days</b>
      left for Claiming H2X
    </span>
  </div>
</div>
<router-outlet></router-outlet>
<div class="content-container" *ngIf="tableInfo">
  <div class="results-table">

    <div class="results-table_row">
      <div class="results-table_cells-group">
        <div class="results-table_cell results-table_cell__label">
          Daily Auction
        </div>
        <div class="results-table_cell results-table_cell__value">
          {{ tableInfo.DailyAuction | number }}
        </div>
      </div>
      <div class="results-table_cells-group">
        <div class="results-table_cell results-table_cell__label">
          BigPayDay 1
        </div>
        <div class="results-table_cell results-table_cell__value">
          {{ tableInfo.BPDInfo[0] | number }}
        </div>
      </div>
    </div>

    <div class="results-table_row">
      <div class="results-table_cells-group">
        <div class="results-table_cell results-table_cell__label">
          Weekly Auction
        </div>
        <div class="results-table_cell results-table_cell__value">
          {{tableInfo.WeeklyAuction | number}}
        </div>
      </div>
      <div class="results-table_cells-group">
        <div class="results-table_cell results-table_cell__label">
          BigPayDay 2
        </div>
        <div class="results-table_cell results-table_cell__value">
          {{ tableInfo.BPDInfo[1] | number }}
        </div>
      </div>
    </div>

    <div class="results-table_row">
      <div class="results-table_cells-group">
        <div class="results-table_cell results-table_cell__label">
          Total Supply
        </div>
        <div class="results-table_cell results-table_cell__value">
          {{tableInfo.totalSupply | number}}
        </div>
      </div>
      <div class="results-table_cells-group">
        <div class="results-table_cell results-table_cell__label">
          BigPayDay 3
        </div>
        <div class="results-table_cell results-table_cell__value">
          {{ tableInfo.BPDInfo[2] | number }}
        </div>
      </div>
    </div>

    <div class="results-table_row">
      <div class="results-table_cells-group">
        <div class="results-table_cell results-table_cell__label">
          Staking
        </div>
        <div class="results-table_cell results-table_cell__value">
          {{tableInfo.staking | number}}
        </div>
      </div>
      <div class="results-table_cells-group">
        <div class="results-table_cell results-table_cell__label">
          BigPayDay 4
        </div>
        <div class="results-table_cell results-table_cell__value">
          {{ tableInfo.BPDInfo[3] | number }}
        </div>
      </div>
    </div>
  </div>
</div>
