<header class="header" [ngClass]="{ active: isHeaderActive }">
  <div class="axn">
    <div class="header-content">
      <img
        *ngIf="theme === 'white'"
        class="header-logo"
        src="./assets/images/base/axion-logo-full.svg"
        alt="axion logo"
      />
      <img
        *ngIf="theme === 'dark'"
        class="header-logo"
        src="./assets/images/base/axion-logo-full-dark.svg"
        alt="axion logo"
      />
      <ul class="header-menu">
        <li *ngIf="leftDaysInfoShow" class="header-menu_item">
          <a routerLink="claim" routerLinkActive="active-link">Claim</a>
        </li>
        <li class="header-menu_item">
          <a routerLink="auction" routerLinkActive="active-link">Auction</a>
        </li>
        <li class="header-menu_item">
          <a routerLink="staking" routerLinkActive="active-link">Staking</a>
        </li>
        <li class="header-menu_item">
          <div class="icon icon-flex icon_switch-theme">
            <label class="switch">
              <input
                class="switch-input"
                [checked]="themeSwitch"
                type="checkbox"
              />
              <span (click)="changeTheme()" class="slider round"></span>
            </label>
          </div>
        </li>
        <li class="header-menu_item" *ngIf="addToMetamask">
          <span
            class="axn-btn axn-btn-gray"
            (click)="addToken()"
            style="margin-left: 25px"
            >Add to MetaMask</span
          >
        </li>
        <li class="header-menu_item">
          <button
            class="icon icon-flex icon_metamask axn-btn-metamask"
            (click)="subscribeAccount()"
            style="margin-left: 25px"
            [ngClass]="{ 'no-clickable': !!account }"
          >
            <div class="axn-btn-metamask-block">
              <span class="axn-btn-metamask-text">{{
                account ? account.address : "MetaMask"
              }}</span>
            </div>
          </button>
        </li>
      </ul>
      <div
        *ngIf="theme === 'white'"
        class="header-navbar-btn"
        (click)="openNavbar()"
      >
        <img
          src="./assets/images/styling/navbar-btn.svg"
          alt=""
          *ngIf="!isNavbarOpen"
        />
        <img
          src="./assets/images/styling/navbar-btn-close.svg"
          alt=""
          *ngIf="isNavbarOpen"
        />
      </div>
      <div
        *ngIf="theme === 'dark'"
        class="header-navbar-btn"
        (click)="openNavbar()"
      >
        <img
          src="./assets/images/styling/navbar-btn-dark.svg"
          alt=""
          *ngIf="!isNavbarOpen"
        />
        <img
          src="./assets/images/styling/navbar-btn-close-dark.svg"
          alt=""
          *ngIf="isNavbarOpen"
        />
      </div>
    </div>
    <div class="header-navbar" [ngClass]="{ active: isNavbarOpen }">
      <div *ngIf="leftDaysInfoShow" class="header-navbar-item">
        <a
          routerLink="claim"
          routerLinkActive="active-link"
          (click)="openNavbar()"
          >Claim</a
        >
      </div>
      <div class="header-navbar-item">
        <a
          routerLink="auction"
          routerLinkActive="active-link"
          (click)="openNavbar()"
          >Auction</a
        >
      </div>
      <div class="header-navbar-item">
        <a
          routerLink="staking"
          routerLinkActive="active-link"
          (click)="openNavbar()"
          >Staking</a
        >
      </div>
      <div class="header-navbar-item" *ngIf="addToMetamask">
        <span class="axn-btn axn-btn-gray" (click)="addToken()"
          >Add to MetaMask</span
        >
      </div>
      <div class="header-navbar-item">
        <div class="icon icon-flex icon_switch-theme">
          <label class="switch">
            <input
              class="switch-input"
              [checked]="themeSwitch"
              type="checkbox"
            />
            <span (click)="changeTheme()" class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="header-navbar-item">
        <button
          class="icon icon-flex icon_metamask axn-btn-metamask"
          (click)="subscribeAccount()"
          [ngClass]="{ 'no-clickable': !!account }"
        >
          <div class="axn-btn-metamask-block">
            <span class="axn-btn-metamask-text">{{
              account ? account.address : "MetaMask"
            }}</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</header>

<div class="axn">
  <div
    class="left-days-info"
    [ngClass]="{ visibility: leftDaysInfoShow && account && bannerForClaim }"
    #runString
  >
    <ng-container *ngIf="leftDaysInfoShow && account && bannerForClaim">
      <span class="repeat-content" *ngFor="let item of runLineCountArray">
        <ng-container *ngIf="chainNetwork === 'rinkeby'">
          <b
            >{{ leftDaysInfo.showTime.h }}h {{ leftDaysInfo.showTime.m }}m
            {{ leftDaysInfo.showTime.s }}s</b
          >
        </ng-container>
        <ng-container *ngIf="chainNetwork === 'ropsten'">
          <b>{{ leftDaysInfo?.dateEnd }}</b
          >&nbsp;<b>Days</b>
        </ng-container>

        <ng-container *ngIf="chainNetwork === 'mainnet'">
          <b>{{ leftDaysInfo?.dateEnd }}</b
          >&nbsp;<b>Days</b>
        </ng-container>

        <span *ngIf="bannerForClaim">left for Claiming AXN</span>
      </span>
    </ng-container>
    <ng-container *ngIf="!leftDaysInfoShow || !account || !bannerForClaim">
      <span class="repeat-content"></span>
    </ng-container>
  </div>
</div>

<div class="axn">
  <router-outlet></router-outlet>

  <section class="axn-section" *ngIf="!account">
    <div class="axn-container t-a-c">
      <span class="axn-text">Enter by Metamask</span>
      <div class="axn-form-block axn-form-transparent">
        <div class="axn-form-block-button">
          <button
            class="axn-btn axn-btn-gray axn-btn-form"
            (click)="subscribeAccount()"
            [ngClass]="{ 'no-clickable': !!account }"
            [disabled]="!!account"
          >
            <span class="axn-text icon-flex icon icon__metamask t-t-u">{{
              account ? account.address : "MetaMask"
            }}</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
