@import "./scss/variables.scss";
@import "./scss/variables-dark.scss";

@import "./scss/mixins.scss";
@import "./scss/typography.scss";
@import "./scss/buttons.scss";
@import "./scss/dialog.scss";
@import "./scss/colors.scss";
@import "./scss/tables.scss";
@import "./scss/forms.scss";
@import "./scss/icons.scss";

router-outlet ~ * {
  position: static;
  width: 100%;
  height: 100%;
}

html,
body {
  min-height: 100%;
}

body {
  padding-top: 70px;
  margin: 0;
  background: $clBody-Background;
  font-family: "Roboto", sans-serif;
  color: $clBody-Text;
  padding-bottom: 50px;
  overflow-y: scroll;

  &:-webkit-scrollbar {
    width: 12px;
    background-color: $clPurple;
    opacity: 0;
  }

  &:-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(51, 26, 99, 0.4);
  }

  &:-webkit-scrollbar-track {
    background-color: transparent;
    padding: 0 2px;
  }
}

.axn {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;

  &-section {
    padding: 25px 20px 25px 20px;

    @include b(750) {
      padding: 25px 15px 30px 15px;
      display: flex;
      flex-direction: column;
      grid-gap: 0px;
      border-radius: 0;
    }
  }

  &-container {
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include b(750) {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    &-center {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
    }
  }
}

.header {
  padding: 15px 0;
  transition: 0.3s;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;

  @include b(990) {
    padding: 12px 0;
    background-color: $clHeader-Background;
  }

  .cdk-global-scrollblock &, &.active {
    padding: 3px 0;
    background-color: $clHeader-Active-Background;
    box-shadow: $clHeader-Active-Shadow;

    .header-logo {
      width: 140px;
    }
  }

  &-navbar {
    z-index: -1;
    opacity: 0;
    background-color: $clNavbar-Background;
    overflow: hidden;
    height: 0;

    @include b(990) {
      width: 100vw;
      position: absolute;
      background: $clNavbar-Background;
    }

    &.active {
      @include b(990) {
        width: 100vw;
        position: fixed;
        background-color: $clNavbar-Active-Background;
        height: 100vh;
        z-index: -1;
        top: 0;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &-btn {
      display: none;

      @include b(990) {
        display: block;
      }
    }

    &-item {
      @include b(990) {
        display: flex;
        justify-content: center;
        margin-top: 60px;
      }

      a {
        @include b(990) {
          font-size: 28px;
          line-height: 107.2%;
          color: $clNavbar-Item-Text;
          text-decoration: none;
        }
      }
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include b(990) {
      padding: 0 15px;
    }
  }

  &-logo {
    vertical-align: middle;
    width: 190px;
    transition: 0.3s;

    @include b(990) {
      width: 137px;
    }
  }

  &-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;

    @include b(990) {
      display: none;
    }

    &_item {
      color: $clHeader-Menu-Item-Text;
      margin: 0;
      padding: 0;

      a {
        display: inline-block;
        vertical-align: middle;
        color: $clHeader-Menu-Item-Text-Link;
        font-size: 16px;
        text-align: center;
        padding: 5px 10px;
        min-width: 85px;
        transition: all linear 0.1s;
        text-decoration: none;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0px;
          left: 0;
          background-color: $clHeader-Menu-Item-Text-Link-Background;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.2s ease-in-out 0s;
        }

        &:hover {
          &:before {
            visibility: visible;
            transform: scaleX(0.8);
          }
        }

        &.active-link {
          font-weight: bold;
          cursor: default;
          transition: 0.4s ease;

          &:before {
            display: none;
          }
        }
      }
    }
  }
}

.left-days-info {
  background: $clLeftDays-Background;
  border-radius: 33px;
  padding: 8px 0;
  color: #000;
  opacity: 0;
  margin: 5px 0;
  transition: all linear 0.1s;
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 190px;
  }

  &:after {
    left: 0;
    background: $clLeftDays-After-Background;
    background: $clLeftDays-After-Background-1;
    background: $clLeftDays-After-Background-2;
    filter: $clLeftDays-After-Filter;
    border-bottom-left-radius: 33px;
    border-top-left-radius: 33px;
  }

  &:before {
    right: 0;
    background: $clLeftDays-Before-Background;
    background: $clLeftDays-Before-Background-1;
    background: $clLeftDays-Before-Background-2;
    filter: $clLeftDays-Before-Filter;
    border-bottom-right-radius: 33px;
    border-top-right-radius: 33px;
  }

  &.visibility {
    opacity: 1;
  }

  span {
    display: inline-block;
    line-height: 16px;
    padding: 0 20px;
    vertical-align: middle;
    transform: translateZ();

    span {
      font-weight: 300;
      margin-left: -12px;
    }
  }
}

.question {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 5px;
  background: $clQuestion-Background;
  position: relative;

  &:before {
    content: "";
    content: "";
    background-image: url("./assets/images/styling/question.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 8px;
    width: 8px;
    height: 11px;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__tooltip {
    color: $clQuestion-Tooltip-Text !important;
    background: $clQuestion-Tooltip-Background !important;
    box-shadow: $clQuestion-Tooltip-Shadow;
    border-radius: 12px;
    font-size: 14px !important;
    line-height: 16px !important;
  }
}

.lds-ellipsis {
  display: block;
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;

  &.inline {
    display: inline-block;
    vertical-align: middle;
  }

  .btn {
    position: relative;
  }

  .btn & {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  ~ * {
    visibility: hidden;
  }

  &-container {
    position: relative;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 62px;

    span {
      position: absolute;
      top: 50%;
      background: $clEllips-Container-Background;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
      margin-top: -5px;
      width: 8px;
      height: 8px;
      border-radius: 100%;

      &:nth-child(1) {
        left: 6px;
        animation: lds-ellipsis1 0.6s infinite;
      }

      &:nth-child(2) {
        left: 6px;
        animation: lds-ellipsis2 0.6s infinite;
      }

      &:nth-child(3) {
        left: 26px;
        animation: lds-ellipsis2 0.6s infinite;
      }

      &:nth-child(4) {
        left: 45px;
        animation: lds-ellipsis3 0.6s infinite;
      }
    }

    &.min {
      width: 31px;

      span {
        margin-top: -3px;
        width: 5px;
        height: 5px;

        &:nth-child(1) {
          left: 3px;
          animation: lds-ellipsis1min 0.4s infinite;
        }

        &:nth-child(2) {
          left: 3px;
          animation: lds-ellipsis2min 0.4s infinite;
        }

        &:nth-child(3) {
          left: 13px;
          animation: lds-ellipsis2min 0.4s infinite;
        }

        &:nth-child(4) {
          left: 23px;
          animation: lds-ellipsis3min 0.4s infinite;
        }

        animation-timing-function: cubic-bezier(1, 1, 0, 0) !important;
      }
    }
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}

.switch .switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: $clSliderTheme-Border;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: $clSliderTheme-Before-Background;
}

.switch-input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@import "./scss/_dark-theme.scss";

.mat-tooltip {
  white-space: pre-line;
}
