.icon {
  &_switch-theme {
    @include before-img(block, 16px, 16px, r) {
      background-image: $imgSwitch-Theme-dark;
    }
  }

  &_ok-1 {
    @include before-img(block, 10px, 10px, r) {
      background-image: url("assets/images/icons/ok-blue-icon-dark-theme.svg");
    }
  }

  &__axion-gray {
    @include before-img(block, 22px, 24px, r) {
      background-image: $imgIcon-Unicorn-dark;
    }
  }
}
