// @import "./variables.scss";

.axn {
  &-link {
    color: $clLink-dark;
  }

  &-title {
    color: $clTitle-dark;
  }

  &-text {
    color: $clText-dark;
    &-input {
      color: $clText-Input-dark;
    }
  }

  &-cheap {
    color: $clCheap-Text-dark;
    box-shadow: $clCheap-Shadow-dark;
  }
}

